
        <div class="sub_visual">
            <div class="bg map1 ani">
                <p class="title">커뮤니티</p>
                <p class="txt">광활하고 순수한 대지, 알래스카로 초대합니다.</p>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2 class="subpg_title">여행정보</h2>
                    <p class=""></p>
                </div>
                <div class="tab_container">
                        <!--탭 메뉴 영역 -->
                        <div class="tabs">
                          <ul>
                            <li class="active"><a rel="trip1">알래스카</a></li>
                            <li><a rel="trip2">숙박업소</a></li>
                             <li><a rel="trip3">음식점</a></li>
                             <li><a rel="trip4">트레일</a></li>
                          </ul>
                        </div>
                        <div id="trip1" class="t_content">
                            <div class="main_txtbox1">
                                <h1>알라스카는 <span class="sBlue">무한한 대자연의 연속이며 도전의 땅</span>입니다.
                                    <p>이 거대한 대지의 위용과 아름다움을 이땅에서는 쉽게 접하실 수 있습니다.</p></h1>
                            </div>   
                            <div class="main_txtbox3">
                                <h3>지구상 어디에도 자연은 있습니다. 그러나 그것을 무대로 연출되는 드라마를 몸소 경험할 수 있는 땅은 그리 흔하지 않습니다.
                                    <p>알라스카는 미합중국 50개주 중에서 가장 큰 땅을 차지하고 있으며 그면적은 미국본토의 약 5분의1에 해당하는 58만 6천 4백 12 평방 마일 입니다.
                                    그것은 한반도의 7배이며 남한의 15배의 해당되는 크기 입니다.</p>
                                </h3>
                            </div>
                            <div class="main_imgbox">
                                <img src="../img/sub_trip_info/alaska_map.jpg">
                            </div>
                            <div class="main_txtbox4">
                                <h4>현재 알라스카의 인구는 54만명 이 살고 있으며 대다수가 백인입니다.
                                    <p>원주민은 전인구의 13%에 해당하는 6만4천명 이며 한국인과 필리핀을 비롯한 아시아계는 약2% 정도라고 집계 되고있습니다.</p>
                                    <p>알라스카의 공기와 물은 한없이 맑고 자연자원은 풍부합니다.</p>
                                    그 풍부함은 우선 앵커리지 시내에 흐르는 자그마한 개천에도 왕연어가 떼를 지어 다니는 것을 보아도 알만한 일입니다.
                                    알라스카에는 3천여개의 강과 3백만개나 되는 호수가 있으니 물과 고기의 풍성함을 쉽게 짐작 할 수 있을 것입니다.
                                    <P>알라스카 중부와 남부를 가로 질러 분수령을 이루는 알라스카 산맥의 주봉인 맥킨리 산은 북미주 최고봉입니다.</P>
                                    사철 병풍처럼 솟아있으며 겨울밤 알라스카 밤하늘에는 요정인 휘황찬란한 오로라 아래 어둠만이 계속되고
                                    영하 수십도에 달하는 극한 속에 동화에 나오는 듯한 사슴과 개썰매와 함께 에스키모인들을 보실 수도 있습니다.</h4>
                            </div>
                        </div>
                      
                        <div id="trip2" class="t_content">
                            <div class="subpg_sec1">
                                <h1><span>알래스카 한인관광(AK Travel and Tour)</span> 파트너쉽 호텔들과</h1>
                                <h1>행복한 추억을 남겨보세요.</h1>
                            </div>  
                            <div class="line"></div> 
                            <div class="hotel1">
                                <div class="hotel_img">
                                    <img src="../img\sub_trip_info\hotel.jpg">
                                </div>
                                <div class="resort_txt">
                                    <h2>1. 알리에스카 리조트(Alyeska Resort)</h2>
                                    <p class="bt">알래스카 한인관광의 첫번째 파트너쉽 호텔인 알리에스카 리조트는 걸우드 추가치 산맥에 위치하고 있어</p>
                                    <p>스키, 케이블카, 산행코스 등 다양한 야외할동을 즐길 수 있습니다.</p>
                                </div>
                            </div>    
                            <div class="hotel2">
                                <div class="hotel_img2">
                                    <img src="../img\sub_trip_info\hotel2.jpg">
                                </div>
                                <div class="resort_txt">
                                    <h2>2. 밀레니엄 호텔(The Lakefront Hotel)</h2>
                                    <p class="bt">조용한 분위기와 맛집 및 명소(GDeLong Lake, Lake Hood Harbor)들로부터 가까운 걸로 유명한 밀레니엄호텔은 </p>
                                    <p>앵커리지의 매력을 쉽게 발견할 수 있게 해줍니다.</p>
                                </div>
                            </div> 
                            <div class="hotel3">  
                                <div class="hotel_img3">
                                   <img src="../img\sub_trip_info\chena.jpg">
                                </div>
                                <div class="resort_txt">
                                    <h2>3. 치나 온천 리조트(Chena Hot Springs Resort)</h2>
                                    <p class="bt">페어뱅크스에서 약 1시간정도 떨어진 곳에 위치하고 있습니다. 이곳은 천연 야외 유황 노천탕으로서 1900년대 알라스카에 금광을 캐러온 광부들에 의해 발견되었고 1912 년 들어 페어뱅크스 주민을 위한 온천 시설로 자리매김하였습니다. </p>
                                    <p>특히 치나온천은 겨울에 온천욕을 즐기면서 북극 오로라를 감상 할 수 있어 지금은 대자연의 관광명소로 많은 관광객들이 붐비는 곳입니다.</p>
                                </div>
                            </div>    
                            <div class="hotel4">
                                <div class="hotel_img4">
                                    <img src="../img\sub_trip_info\hotel4.jpg">
                                </div>
                                <div class="resort_txt">
                                    <h2>4. 알렉스 호텔 앤드 스위트(Alex Hotel & Suite)</h2>
                                    <p> 공항에서 5분거리에 위치하고 있으며, Lake Hood Harbor가 가까이 있어 산책코스로 좋은 곳입니다.</p>
                                </div>
                            </div>    
                        </div>
                        <div id="trip3" class="t_content">
                            <div class="subpg_sec1">
                                <h1><span>알래스카 한인관광(AK Travel and Tour)</span>에서는 </h1>
                                <h1>다양한 음식을 즐길 수 있습니다.</h1>
                            </div>  
                            <div class="line"></div> 
                            <div class="intro_txt">
                                <p class="bt"><span>알래스카 한인관광</span>에서는 고객분들에 니즈를 고려해 한식뿐만 아니라 일식, 양식, 바베큐, 호텔식으로 식당을 준비했습니다.</p>
                                <p>폭 넓은 선택지로 고객분들에게 만족을 드리겠습니다.</p>
                            </div>
                            <div class="food">
                                <div class="food_img">
                                    <img src="../img\sub_trip_info\food1.jpg"> 
                                    <img src="../img\sub_trip_info\sushi2.jpg">
                                    <img src="../img\sub_trip_info\food3.jpg">
                                </div>                    
                            </div>  
                        </div>
                        <div id="trip4" class="t_content">
                            <div class="subpg_sec1">
                                <h1>트레일을 통해 <span>알래스카</span>에 새로운 매력을 느껴보세요!</h1>
                            </div>  
                            <div class="line"></div>
                            <div class="trail">
                                <div class="trail_img">
                                    <img src="../img\sub_trip_info\flattop.jpg"> 
                                </div>    
                                <div class="trail_txt">
                                    <h2>1. 플랫탑 마운틴 트레일(Flattop Mountain Trail)</h2>
                                    <p class="btm">이 트레일 코스는 앵커리지의 있는 트레일 코스로 다운타운에서 멀지 않은 곳에 위치해 있어 접근성이 뛰어난 코스입니다.</p>
                                    <p>또한 멋진 전망을 보며 트레일을 즐길 수 있습니다.</p>
                                </div>                
                            </div>       
                            <div class="trail"> 
                                <div class="trail_img">
                                    <img src="../img\sub_trip_info\winner_creek.jpg">
                                </div>
                                <div class="trail_txt">
                                    <h2>2. 알리야스카 리조트 하이킹 코스</h2>
                                    <p class="btm">알리야스카 리조트내에 있는 하이킹 코스로서 자연을 즐기며 거닐 수 있는 트레일 코스입니다.</p>
                                    <p>하이킹뿐만 아니라 핸드트램에 즐거움도 느껴보세요.</p>
                                </div>
                            </div>  
                        </div>
                </div>
            </div>
        </div>
        <a href="#" class="top">
            <img src="../img\logo\b_top.png">
        </a>
