
        <div class="sub_visual">
            <div class="bg orora">
                <p class="title">고객센터</p>
                <p class="txt">내가 꿈꾸던 여행지를 현실에서 만나세요!</p>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2 class="subpg_title">여행상품 Q&A</h2>
                </div>
                <div class="main_t_btn_wrap">
                    <div class="main_t_btn">
                        <a href="qna">목록</a>
                    </div>
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th class="n_blue">
                                    <span>Re: 알라스카 관광문의</span>                                  
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="info_wrap">
                                    <dl class="info">
                                        <dt>작성일</dt>
                                        <dd>2022.04.07</dd>
                                    </dl>
                                    <dl class="info space">
                                        <dt>작성자</dt>
                                        <dd>최고관리자</dd>
                                    </dl>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt_box">
                                    <p>안녕하세요?</p>
                                    <p>가족단위 알라스카 한인관광을 찾아주신데 감사 드립니다.</p>
                                    <p>현재 많은분들께서 카톡으로 문의 상담을 해주시고 계십니다.</p>
                                    <p>저희 여행사는 상품가격을 표시하지 않고 모든 일정이 결정되면 그에따라서 호텔수준,방수,기타 고객분들의 요구에 따라서 관광요금을 산출해서 보내드립니다.</p>
                                    <p>저희 회사 카톡 RK0333 이나 이메일 alaskatour@gmail.com 또는 전화 907-317-8799 연락을 주시면 언제든지 답변을 해드리겠습니다.</p>
                                    <p id="more">감사합니다.</p>
                                    <p id="black">알래스카 한인관광 드림</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
                <div id="np_b_txtbox">
                    <div class="np_b_up">
                       <p>이전글</p>
                       <sapn><a href="qna_page">알라스카 관광문의</a></sapn>
                    </div>
                    <div class="np_b_down">
                        <p>다음글</p>
                        <span><a href="#">알라스카 여행</a></span>
                    </div>
                </div>                
            </div>
        </div>
