
        <div class="sub_visual">
            <div class="bg bgin">
                <p class="title">알래스카한인관광소개</p>
                <p class="txt">Before you die, The last frontier</p>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2 class="subpg_title">알래스카 이모저모</h2>
                </div>
                <section class="all_txtbox1">
                    <h1>아직도 “<span class="logo_blue">알라스카의 매력</span>”을 느껴보지 못하셨습니까?</h1>
                    <p>Haven't you felt the attraction of Alaska yet?</p>
                </section> 
                <section class="all_txtbox2">
                        <h2 id="important">“마지막 개척지(Last Frontier)”</h2>
                        <p>“위대한 땅(The Great Land)” 의 매력은 그 가치가 점점 더해가며 영원할 것입니다.
                        마치 양파의 껍질을 벗기듯이? 하나씩 알라스카의 매력을 느껴보세요.                       
                        이렇게 변해있는 세계적 관광지에서 알라스카를 찾으시는 한인분들의 투어를 전문으로 하고 있는 알라스카 한인관광(Alaska Korean Tour)은 알라스카를 다녀가는 모든분들이 알라스카의 매력을 느낄수 있도록" 변해가는 한국관광문화"에 걸 맞게 최고의 서비스를 보장 할 것을 약속 드립니다.</p>
                </section>  
                <section class="all_imgbox">
                    <img src="../img/sub_alaska_all/moutain.jpg">
                </section>
                <section class="all_txtbox3">
                    <div id="all_txtbox3-1">         
                        <div class="text">
                            <h3>관광포인트</h3>
                        </div>              
                       <div>
                           <div class="img1"></div>
                           <div class="txt">
                               <h4>1. 대자연의 아름다움</h4>
                               <p>알라스카의 대자연의 아름다움은 웅장한 산에는 잔설이 덮혀 있고,빙하가 녹아 내리는 푸른 바다에는 고래를 비롯한 물개,수달, 바다사자 등 바다 동물들이 마음껏 놀고있고 해변가로 뻗어있는 철로와 평행을 유지하는 미국내 가장 아름다운 Sward Highway를 달리면서 바라보는 시야경치는 그야말로 장관을 이루며, 곳곳의 산계곡 빙하와 호수가 철새들의 바쁜 움직임 바라볼 때면 또 한번 자연의 신비감에 도취되어 신에게 감사함을 느낄 수가 있다.</p>
                           </div>
                       </div>
                       <div class="box2">
                            <div class="img2"></div>
                            <div class="txt">
                                <h4>2. 동식물의 생태</h4>
                                <p>알라스카의 야생동물의 상징으로는 곰과 나무나 숲이 있는 집근처나 거리에서 쉽게 볼 수 있는 무스(Moose)를 비롯해서 미국을 상징 하는 흰머리 독수리, 알라스카 사슴 등 Wild Life 들의 생태와 물망초,첫 눈이 내리는 시기를 짐작 할 수있는 Fireweed의 아름다움은 알라스카에서 만이 볼 수 있을것이다.
                                    또한, 여름철에는 뱀이 없기 때문에 풍부한 고사리, 미나리, 대나물, 고들배기, 버 섯등 다양한 산나물을 캐는것도 일품이다.</p>
                            </div>
                       </div>
                       <div class="box3">
                            <div class="img3"></div>
                            <div class="txt">
                                <h4>3. 빙하의 활동</h4>
                                <p>빙하는 알라스카를 상징하는 대표적인 자연 이라고 할 수 있으며,상당히 많은 빙하는 수 만년동안 싸인 눈이 얼음으로 형성, 빛에 반사 하므로서, 샤파이어의 빛깔을 발산하며, 지구의 온난화로 인해 많은 빙하가 녹아 내리거나 무너지는 현상을 볼 수 있다.
                                    한여름에 빙하를 보는 순간, 순식간에 온여름의 무더위를 앗아가 버리곤 한다</p>
                            </div>
                       </div>
                       <div class="box4">
                            <div class="img4"></div>
                            <div class="txt">
                                <h4>4. 북미 최고봉 얼음산 “디날리 산”</h4>
                                <p>알라스카의 야생동물의 상징으로는 곰과 나무나 숲이 있는 집근처나 거리에서 쉽게 볼 수 있는 무스(Moose)를 비롯해서 미국을 상징 하는 흰머리 독수리, 알라스카 사슴 등 Wild Life 들의 생태와 물망초,첫 눈이 내리는 시기를 짐작 할 수있는 Fireweed의 아름다움은 알라스카에서 만이 볼 수 있을것이다.
                                    또한, 여름철에는 뱀이 없기 때문에 풍부한 고사리, 미나리, 대나물, 고들배기, 버 섯등 다양한 산나물을 캐는것도 일품이다.</p>
                            </div>
                        </div>
                       <div class="box5">
                            <div class="img5"></div>
                            <div class="txt">
                                <h4>5. 북극 “오로라”</h4>
                                <p>우주의 신비라 불리우는 “오로라”는 북극의 빛 (Nort hern Lights)이라고도 하며, 9월초 부터 익년 4월까지 알라스카 의 북쪽에서 나타나는데 주로 겨울철 맑은날 밤에는 자주 볼 수있다.이러한 신비 의 빛을 보기 위해 현지 주민 뿐 만 아니라 많은 관광객 들이 몰려 들어 밤 하늘의 빛의 파노라마를 감상 하면서 야외온천을 즐기기도 한다.오로라는 기상예보로 알수 있다.</p>
                            </div>
                       </div>
                       <div class="box6">
                            <div class="img6"></div>
                            <div class="txt">
                                <h4>6. 북극 천연유황 옥외온천</h4>
                                <p>100년전 광부들이,피로회복로 사용 했던 온천물이 지금 은 완전한 옥외 온천으로 자리매김 하여 현지 주민 이나 많은 관광객들이 년중 이용 하고 있으며,또한 피부 관리 를 위해 많은 여성들이 찾아들고 있다.여름보다 겨울이 성수기로서 반드시 수영복이 필요하다</p>
                            </div>
                       </div>
                       <div class="box7">
                            <div class="img7"></div>
                            <div class="txt">
                                <h4>7. 연어와 광어 낚시</h4>
                                <p>매년 산란기때 헤아릴 수 없을 정도의 연어떼가 모든강으로 올라올 때면,낚시의 천국을 이루어 남녀노소 너나 나나 할 것없이 모두가 낚시를 즐 길 뿐 만아니라, 그물채 (Deep net)로 연어를 잡아 올리는 광경은 오직 알라스카 에서 만 볼수가 있다.
                                    또한 “세계에서 유일한 광어 중심지”로서 지금까지 잡힌 가장 큰 광어는154kg 이며, 보통 30kg이상 크기의 광어는 남녀노소 누구나 초보자 도 낚을수 있는 이상적인 레저이다.</p>
                            </div>
                       </div>
                       <div class="box8">
                            <div class="img8"></div>
                            <div class="txt">
                                <h4>8. “위대한 경주” 개썰매</h4>
                                <p>알라스카의 허스키(Husky)가 이끄는 개 썰매는 “지구상 위대한 경주”라고도 하며, 매년1월경 개 썰매 경주가 개최되는 시기에는 온통 축제 분위기로서 세계각국에서 관광객이 몰려든다. 이때쯤 에는 관광객을 위한 개 썰매타기 체험은 물론 스키,스노우 모빌등 다양한 레저 와 스포츠는 한 겨울의 즐거움 이기도 하다.</p>
                            </div>
                       </div>
                       <div class="box9">
                            <div class="img9"></div>
                            <div class="txt">
                                <h4>9. 알라스카철도</h4>
                                <p>1915년 알라스카 철도 건설시 그 건설본부가 있었던 앵커리지의 알라스카 철도는 앵커리지에서 북으로는 “Denali" 국립공원과 “Fairbanks”까지, 남으로 “Whittier”와 “Seward” 까지 운행합니다.</p>
                            </div>
                       </div>
                    </div>
                    <section> 
                        <div class="weather_txt">
                            <h5>기후</h5>
                            <p><span>앵커리지</span>의 여름날씨는 상쾌하고 겨울은 온화합니다. </p>
                            <p>여름에는 가벼운 재킷이 좋으며 겨울에는 따듯한 코트가 필요합니다. 장갑과 편안한 신발도 잊지 마세요!</p>
                        </div>
                        <div>                   
                            <div class="weather_img">
                                <img src="../img\sub_alaska_all\alaska_b.jpg">
                            </div>
                                <div class="weather_table">
                                    <table border="1">
                                        <thead class="mon">
                                          <tr>
                                            <th></th>
                                            <th>1월</th>
                                            <th>2월</th>
                                            <th>3월</th>
                                            <th>4월</th>
                                            <th>5월</th>
                                            <th>6월</th>
                                            <th>7월</th>
                                            <th>8월</th>
                                            <th>9월</th>
                                            <th>10월</th>
                                            <th>11월</th>
                                            <th>12월</th>
                                           </tr>
                                        </thead>
                                        <tbody class="tem">
                                          <tr>
                                            <td>평균기온</td>
                                            <td>20/-7</td>
                                            <td>20/-3</td>
                                            <td>32/0</td>
                                            <td>43/6</td>
                                            <td>54/12</td>
                                            <td>62/17</td>
                                            <td>65/18</td>
                                            <td>63/17</td>
                                            <td>55/13</td>
                                            <td>41/15</td>
                                            <td>28/-2</td>
                                            <td>20/-7</td>
                                          </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </section>                    
            </div>
           
        </div>
        <a href="#" class="top">
            <img src="../img\logo\b_top.png">
        </a>

