
        <div class="blue_wrap"></div>
        <section class="w1200 login_contin">
            <article class="login_wrap">
                <div class="login_title">
                    <h1 class="login_title">LOGIN</h1>
                    <strong>Before you die, The last frontier</strong>
                </div>
                <from>
                    <div class="wsf-field">
                        <input class="wsf-input-text" id="ws-user-id" type="text" placeholder="아이디를 입력해주세요">
                        <div class="wsf-input-error"></div>
                    </div>
                </from>
                <div class="wsf-field">
                    <input class="wsf-input-text" id="ws-user-password" type="password" placeholder="비밀번호를를 입력해주세요">
                    <div class="wsf-input-error"></div>
                </div>
                <div class="auto_login_wrap">
                    <strong><input type="checkbox" name="check" value="autologin">자동로그인</strong>
                </div>
                <div class="wsf-field">
                    <button class="ws-button-wquare3 ws-button_full" data-button-style="filled-primary" onclick="prospectLogin(); return flase;">로그인</button>
                </div>
                <ul class="login_utill_wrap">
                    <li><a href="join">회원가입</a></li>
                    <li><a href="">아이디찾기</a></li>
                    <li><a href="">비밀번호찾기</a></li> 
                </ul>
            </article>    
        </section>
