<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sub</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/sub.css">
    
</head>
<body>
    <header>
        <div class="header_top">
            <div class="w1200 header_wrap">
                <a href="" class="logo">
                    <img src="../img/logo/logo_03_white.png">
                </a>
                <div id="search_bar">
                    <input type="text" placeholder="어디로 떠나보고 싶으세요?">
                    <a href="" class="btn_search"></a>
                </div>
                <a href="" class="btn_menu">
                    
                </a>
            </div>
        </div>
        <div class="header_bottom">
            <div class="w1200 header_wrap">
                <ul class="main_nav">
                    <li><a href="">알래스카한인관광소개</a></li>
                    <li><a href="">여행상품</a></li>
                    <li><a href="">파트너상품</a></li>
                    <li><a href="">커뮤니티</a></li>
                    <li><a href="">공지사항</a></li>
                </ul>
                <ul class="utill_nav">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                </ul>
            </div>            
        </div>
    </header>
    <main>
        <div class="sub_visual">
            <div class="bg bg01">
                <p class="title">알래스카한인관광소개</p>
                <p class="txt">Before you die, The last frontier</p>
            </div>
        </div>
        <div id="mobile_sidebar">
            <div id="sidemenu">
                <ul id="sidemenu_list">
                    <li class="on">
                        <a href="">인사말</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="sidebar">
                <div class="inner">
                    <div class="stit">
                        <h2>알래스카한인관광소개</h2>
                    </div>
                    <div id="sidemenu">
                        <ul id="sidemenu_list">
                            <li class="on">
                                <a href="">인사말</a>
                            </li>
                            <li>
                                <a href="">알래스카 이모저모</a>
                            </li>
                            <li>
                                <a href="">알아 두어야 할 참고사항</a>
                            </li>
                        </ul>
                    </div>
                    <div class="side_exchange">
                        <h6 class="exchange_tit"></h6>
                        <div id="exchange_box">
                            <div class="exchange_form">
                                <div class="select_div">
                                    <select class="formContrl" id="exchange0" name="exchange0" onchange="priceName('A');">
                                        <option data-num selected="selected" value="1285.0000,USD,달러">미국</option>
                                        <option data-num selected="selected" value="1285.0000,USD,달러">미국</option>
                                    </select>
                                    <img src="../img/logo/ico_exchange_down02.png" class="arr0">
                                    <p id="CurrencyCode1">USD</p>
                                </div>
                                <div class="price_div">
                                    <input type="tel" id="exchange1" onkeyup="javascript: calculate('exchange1', 'A');"value>
                                    <p>
                                        <em id="firstPrice">1</em>
                                        <span id="firstName">달러</span>
                                    </p>
                                </div>
                            </div>
                            <div class="equal_box"></div>
                            <div class="exchange_form">
                                <div class="select_div">
                                    <select class="formContrl" id="exchange2" name="exchange2" onchange="priceName('B');">
                                        <option data-num selected="selected" value="1285.0000,USD,달러">미국</option>
                                        <option data-num selected="selected" value="1285.0000,USD,달러">미국</option>
                                    </select>
                                    <img src="../img/logo/ico_exchange_down02.png" class="arr0">
                                    <p id="CurrencyCode2">USD</p>
                                </div>
                                <div class="price_div text_cut">
                                    <input type="tel" id="exchange3" onkeyup="javascript: calculate('exchange3', 'B');"value>
                                    <p>
                                        <em id="secondPrice" class="fc_red">58,333.09</em>
                                        <span id="secondName">원</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2 class="subpg_title">인사말</h2>
                    <p class=""></p>
                </div>
                <section class="subpg_sec">
                    <h1>아직도 알래스카를 얼음의 땅이라고 생각하십니까?</h1>
                    <h1>Before you die, The last frontier</h1>

                </section>                
            </div>
        </div>

    </main>
    <footer>
        <div class="f_top">
            <div class="w1200 f_top_contain">
                <ul class="f_top_wrap">
                    <li><a href="">회사소개</a></li> 
                    <li><a href="">개인정보처리방침</a></li> 
                    <li><a href="">여행상품문의</a></li> 
                    <li><a href="">고객센터</a></li> 
                    <li><a href="">참고사항</a></li> 
                    <ul class="mf_sns_wrap">
                        <li><a href="" class="f_kakao"></a></li>
                        <li><a href="" class="f_email"></a></li>
                        <li><a href="" class="f_call"></a></li>
                    </ul>
                </ul>
                <ul class="f_sns_wrap">
                    <li><a href="" class="f_kakao"></a></li>
                    <li><a href="" class="f_email"></a></li>
                    <li><a href="" class="f_call"></a></li>
                </ul>  
            </div>
        </div>
        <div class="w1200 f_bottom">
            <div class="f_bottom_wrap">
                <a href="" class="f_logo">
                    <img src="../img/logo/logo_04.png" alt="로고">
                </a>
                <div class="f_text">
                    <h2>알래스카 한인관광 (alaskakoreantour)</h2>
                    <span>대표자 : 김 라 키 (Rocky K.Kim)  | </span>
                    <span>대표 번호 : 1-907-222-4001, 1-907-317-8799</span>
                    <span>E-mail : alaskatour@gmail.com  |</span>
                    <span>카카오톡 아이디: RK0333</span>
                    <span>주소 : 4105 Turnagain Blvd E Ste A1 Anchorage,AK99517</span>
                    <span>Copyright © 2004 AK Travel & Tour,LLC, Inc. All rights reserved.</span>
                </div>
            </div>
        </div>
    </footer>