
        <div class="sub_visual">
            <div class="bg bg0w">
                <p class="title">여행상품</p>
                <p class="txt">알래스카의 다양한 여행상품을 소개합니다</p>
            </div>
        </div>

        <div class="w1200 content_box">
          
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2>계절상품 상세페이지</h2>
                </div>
                <section class="subpg_sec">   
                    <div class="sub_trip_wrap">
                        <h2 class="sub_trip_t">디날리 공원-발디즈(빙하) -키나이 반도(기차)</h2>
                        <div class="sub_trip_box">
                            <div class="more_wrap">
                                <div class="slide_wrap">
                                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"class="swiper mySwipers2">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1_2.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1_3.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1_4.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1_5.jpg">
                                            </div>
                                        </div>
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                    <div thumbsSlider="" class="swiper mySwipers">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1_2.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1_3.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1_4.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="../img/sub_weather_travel/tablepic1_5.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sub_trip_wrap">
                                    <h2 class="sub_trip_t">상세설명</h2>
                                    <div class="trip_txt_wrap">
                                        <div class="trip_txt">
                                            <div class="trip_t">관광일정</div>
                                            <div class="trip_s">6 박 7 일</div>
                                        </div>
                                        <div class="trip_txt">
                                            <div class="trip_t">출발인원</div>
                                            <div class="trip_s">단독 및 단체관광(수시)</div>
                                        </div>
                                        <div class="trip_txt">
                                            <div class="trip_t">포함사항</div>
                                            <div class="trip_s">전일정 숙박,식사,가이드/운전,차량,보험,개스,입장료(터널,공원)</div>
                                        </div>
                                        <div class="trip_txt">
                                            <div class="trip_t">불포함사항</div>
                                            <div class="trip_s">선택관광,여행자 보험,팁 </div>
                                        </div>
                                        <div class="trip_txt">
                                            <div class="trip_t">특선포함</div>
                                            <div class="trip_s">프린스 윌리암 기차(2.5시간),빙하 크루즈(4.5시간),추가치 케이블카 관광,개썰매 체험 </div>
                                        </div>
                                        <div class="trip_txt">
                                            <div class="trip_t">준비물</div>
                                            <div class="trip_s">봄/가을 입는 잠바 와 셔츠,여행복장 과 신발, 기타 개인 소지품(여권,개인 상비약등) </div>
                                        </div>                                       
                                    </div>
                                    <div class="button_wrap">
                                        <a href="weather_trip">목록으로</a>                                          
                                        <a href="qna">예약문의</a>                                          
                                    </div>
                                </div>
                            </div>
                            <div class="sub_trip_wrap">
                                <h2 class="sub_trip_t">코스별 관광 명소</h2>
                                <div class="tripc_wrap">
                                    <div class="card cardp1">
                                        <div class="thumbnail thumn1"></div>
                                        <div class="desc-wrap">
                                            <div class="desc">
                                                <h2>발데즈</h2>
                                                <p>희고 높은 산이라는 의미를 가지고 있는 알프스에는 몽블랑 산이 가장 높으며 평균 해발고도는 2,500m입니다.</p>
                                                <div class="tag-wrapper">
                                                    <div class="ta">#겨울추천</div>
                                                    <div class="ta">#빙하</div>
                                                    <div class="ta">#개썰매</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardp2">
                                        <div class="thumbnail thumn2"></div>
                                        <div class="desc-wrap">
                                            <div class="desc">
                                                <h2>위디어</h2>
                                                <p>크고 작은 배를 타고 작은 보트 항구를 출발해 들어선 가파른 피요르드 협곡은 내부 깊숙이 빙하를 품고 있습니다.</p>
                                                <p>카약과 스킨스쿠버를 즐기기에도 더할 나위 없이 좋으며, 부두는 프린스 윌리엄 만의 풍요로운 생태계로 관광객들을 태워가려는 유람선과 수상택시로 가득 차 있습니다.</p>
                                                <div class="tag-wrapper">
                                                    <div class="ta">#여름추천</div>
                                                    <div class="ta">#협곡</div>
                                                    <div class="ta">#스킨스쿠버</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sub_trip_wrap">
                        <h2 class="sub_trip_t">예약시 유의사항</h2>
                        <div class="sub_trip_txt">
                            <h4>1. 환전</h4>
                            <p>해외 여행을 하게되면 당연히 현지 화폐로 환전을 하여 사용하여야만 합니다</p>
                            <p>일본의 엔화는 현지에서 발 현지 화폐로 환전이 되어 사용이 가능하나, 우리 나라 화폐는 현지 환전이 안되니 한국에서 환전을 미리 합니다.</p>
                            <p>동남아 배낭여행국가의 상당 국가가 태국 화폐인 '바트'가 공통적으로 통용됩니다.</p>
                            <p>지불 수단으로는 크게 현금, 여행자수표, 신용카드인데 여행의 성격, 기간, 지역에 따라 안전과 편리성을 고려하여 사용하도록 합니다.</p>
                        </div>
                        <div class="sub_trip_txt">
                            <h4>2. 유아동반</h4>
                            <p>아이와 여행을 할 경우 복장은 최대한 간편하게 하고 소품등을 휴대할 수 있는 가방을 준비합니다</p>
                            <p>양손이 자유로운 배낭이 좋으며 필름이나 건전지를 충분히 준비합니다</p>
                            <p>여행지에서 아이가 배탈, 열이 날 수 있으므로 상비약을 준비하며 미리 여행자 보험에 가입해야 합니다.</p>
                        </div>
                        <div class="sub_trip_txt">
                            <h4>3. 로밍서비스</h4>
                            <p>통신방식이 다른 해외에서도 자유롭게 통화할 수 있는 것을 의미합니다.</p>
                            <p>우리나라에서는 기본적으로 CDMA 방식을 사용하지만, 유럽 대부분의 국가에서는 GSM 방식을 이용하고 있습니다.</p>
                            <p>그러므로 해외에서 이용 가능한 GSM폰을 임대 후 가셔야 합니다.</p>
                        </div>
                            </div>
                            
                    <div class="sub_trip_wrap">
                        <div class="tab_container">
                            <!--탭 메뉴 영역 -->
                            <div class="tabs">
                              <ul>
                                <li class="active"><a rel="tab1">세부일정</a></li>
                                <li><a rel="tab2">호텔정보</a></li>
                                 <li><a rel="tab3">여행약관 & 참고사항</a></li>
                                 <li><a rel="tab4">여행안전정보</a></li>
                              </ul>
                            </div>
                            <div id="tab1" class="t_content">
                                <div class="sub_tabcontainer">
                                    <div class="sub_tabs">
                                        <ul>
                                            <li><a href="#subtab1">1일차</a></li>
                                            <li><a href="#subtab2">2일차</a></li>
                                            <li><a href="#subtab3">3일차</a></li>
                                            <li><a href="#subtab4">4일차</a></li>
                                            <li><a href="#subtab5">5일차</a></li>
                                            <li><a href="#subtab6">6일차</a></li>
                                            <li><a href="#subtab7">7일차</a></li>
                                            <li><a href="#subtab8">8일차</a></li>
                                        </ul>
                                    </div>
                                    <div class="subtab1 time_wrap">
                                    <div class="bgtitle">1일차</div>
                                    <div class="bgsubtitle">앵커리지/주변지역</div>
                                    <div class="time_txt">
                                        <p>앵커리지 공항 도착 및 영접</p>
                                        <p>가이드 미팅 후 전용차량 탑승, 호텔 이동 후 체크인 후 관광시작</p>
                                        <p><span>투숙예정호텔 : Alex Hotel & Suite/The lake Front (Millennium Hotel)(고급)</span></p>
                                    </div>
                                    <div class="trip_box">
                                        <div class="trip_sub_box">
                                            <h2>1. 추가치산 Flattop 관망대 관광</h1>
                                            <div>
                                                <div class="trip_table_pic ttpic1"></div>
                                                <div class="trip_pic_txt">
                                                    <p>해발 400m 높이 추가치 산에 위치한 Flattop 관망대에서 앵커리지를 한눈에 담아 보세요</p>
                                                    <p>시간이 허락된다면, 대평원을 산행하며 하이킹과 함께 아름다운 올래길에서 피로를 풀어보세요</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>2. 앵커리지 시내관광</h1>
                                            <div>
                                                <div class="trip_table_pic ttpic2"></div>
                                                <div class="trip_pic_txt">
                                                    <p>시내관광은 앵커리지 도착시간에 따라 일부 조정 될 수 있습니다</p>
                                                    <p>후드레이크 수상비행장, 초코렐폭포, 앵커리지 다운타운 관광</p>
                                                    <p>식당으로 이동해서 석식후 호텔이동 해서 자유시간 및 호텔주변 산책</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="subtab2 time_wrap">
                                    <div class="bgtitle">2일차</div>
                                    <div class="bgsubtitle">와실라/타키나</div>
                                    <div class="time_txt">
                                        <p>조식 후 글렌하이웨이를 따라 와실라 개썰매 박물관으로 이동</p>
                                        <p>가이드 미팅 후 전용차량 탑승, 호텔 이동 후 체크인 후 관광시작</p>
                                        <p><span>투숙예정호텔 : Perch Resort /Princess Lodge(고급)</span></p>
                                    </div>
                                    <div class="trip_box">
                                        <div class="trip_sub_box">
                                            <h2>1. 개썰매 박물관 방문 및 개썰매 체험</h1>
                                            <div>
                                                <div class="trip_table_pic ttpic2_1"></div>
                                                <div class="trip_pic_txt">
                                                    <p>세계에서 가장 위대한 경주로 불리우는 개썰매 본부를 방문해서 개썰매 역사에 대해 알아보아요</p>
                                                    <p>개썰매 박물관에서 역대 개썰매 우승자, 개썰매에 관한 각종 유물 관람과 함께 개썰매 시범을 감상 할 수 있습니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>2. 알래스카 관광의 꽃 '디날리산 경비행기 관광'</h1>
                                            <div>
                                                <div class="trip_table_pic ttpic2_2"></div>
                                                <div class="trip_pic_txt">
                                                    <p>숙달된 조종사의 안내로 가족,연인 그리고 동료들과, 대자연과 함께 시간을 보내세요.</p>
                                                    <p>오직 평생의 한번의 기회일수도 있습니다.</p>
                                                    <p>디날리산과 산악인영화 '아이스크라운' 관람 후 디날리 숙소 이동 및 석식</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="subtab3 time_wrap">
                                    <div class="bgtitle">3일차</div>
                                    <div class="bgsubtitle">디날리</div>
                                    <div class="time_txt">
                                        <p>조식후 디날리 Wildness 출입구로 이동 및 체크인</p>
                                        <p>가이드 미팅 후 전용차량 탑승, 호텔 이동 후 체크인 후 관광시작</p>
                                        <p><span>투숙예정호텔 : Alex Hotel & Suite/The lake Front (Millennium Hotel)(고급)</span></p>
                                    </div>
                                    <div class="trip_box">
                                        <div class="trip_sub_box">
                                            <h2>1. 디날리 국립공원 Toklat 지역버스 투어</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic3_1"></div>
                                                <div class="trip_pic_txt">
                                                    <p>600 백만 에이커의 거대한 디날리국립공원내의 투어는 도시락을 참해서 사진과
                                                        같이 별도의 셔틀버스로 6.5 시간 동안 디날리 공원의 자연을 감상하게 됩니다</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>2. 디날리(구 맥킨리)산 시야 감상</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic3_2"></div>
                                                <div class="trip_pic_txt">
                                                    <p>디날리산 전망대에 들러서 6,194m 의 웅장한 디날리산 감상과 함께 단체
                                                        기념촬영을 하면서 휴식을 취합니다.</p>
                                                    <p>와실라로 이동해서 호텔 체크인후 석식 및 자유시간</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="subtab4 time_wrap">
                                    <div class="bgtitle">4일차</div>
                                    <div class="bgsubtitle">카퍼리버/팔머</div>
                                    <div class="time_txt">
                                        <p>조식후 디날리 Wildness 출입구로 이동 및 체크인</p>
                                        <p>가이드 미팅 후 전용차량 탑승, 호텔 이동 후 체크인 후 관광시작</p>
                                        <p><span>투숙예정호텔 : Alex Hotel & Suite/The lake Front (Millennium Hotel)(고급)</span></p>
                                    </div>
                                    <div class="trip_box">
                                        <div class="trip_sub_box">
                                            <h2>1. 헤쳐패스 인디펜던스 광산 대평원</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic4_1"></div>
                                                <div class="trip_pic_txt">
                                                            <p>알프스 언덕과도 같다는 헤쳐패스는 1,184m 높이로 광부 였던 헤쳐가
                                                                1930 년대 인디펜던스 광산을 개발,현재는 역사적 기록과 건물 그리고
                                                                주변의 대평원의 아름다움을 감상해보세요</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>2. 알래스카 파이프라인</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic4_2"></div>
                                                <div class="trip_pic_txt">
                                                    <p>금세기 최대의 토목공사로 꼽히며,길이가 800 마일로서 알라스 카
                                                        원유 저장소인 발디즈 까지 운반하는 역활을 하는 인간승리 의 역사적
                                                        현장을 감상해보세요
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>3. 키스톤 캐년</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic4_3"></div>
                                                <div class="trip_pic_txt">
                                                    <p>1910-1916 까지 구리과 금광이 왕성한 지역 으로 리챠슨 고속도로를
                                                        가다보면 장관을 이루는 면사포 폭포와 말꼬리 폭포에서 발걸음을
                                                        멈춰서 감상해보세요
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>4. 탐슨 패스</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic4_3"></div>
                                                <div class="trip_pic_txt">
                                                    <p>세계적으로 가장 커다란 헬리스키의 고장이면서 알라스카의 명물로
                                                        이름난 탐슨패스(855m)정상에서 잠시 멈춰서 발데즈 아름다움에 푹
                                                        빠져 보세요
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="subtab5 time_wrap">
                                    <div class="bgtitle">5일차</div>
                                    <div class="bgsubtitle">발데즈</div>
                                    <div class="time_txt">
                                        <p>조식후 디날리 Wildness 출입구로 이동 및 체크인</p>
                                        <p>가이드 미팅 후 전용차량 탑승, 호텔 이동 후 체크인 후 관광시작</p>
                                        <p><span>투숙예정호텔 : Keystone Hotel or 동급/Princess Lodge(고급) (Millennium Hotel)(고급)</span></p>
                                    </div>
                                    <div class="trip_box">
                                        <div class="trip_sub_box">
                                            <h2>1. 데이빌 크릭 연어부화장</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic5_1"></div>
                                                <div class="trip_pic_txt">
                                                    <p>솔로몬 연어 부화장에서 알을 낳기위해 몰려든 연어떼로 가득하며, 연어를
                                                        만져보는 체험도 하면서 운좋으면 곰들이 연어 를 잡아먹는 광경도 목격할
                                                        수 있습니다.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>2. 콜롬비아 빙하 유람선 관광(특선포함)</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic5_2"></div>
                                                <div class="trip_pic_txt">
                                                    <p>발데즈 항에서 빙하 유람선 을 타고 프린스 윌리암 사운드 만을 7 시간 동안
                                                        알라스카 에서 가장큰 콜롬비아 빙하,물개,수달,고래등 바다의 각종 동식물을
                                                        관광</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="subtab6 time_wrap">
                                    <div class="bgtitle">6일차</div>
                                    <div class="bgsubtitle">디날리</div>
                                    <div class="time_txt">
                                        <p>조식후 디날리 Wildness 출입구로 이동 및 체크인</p>
                                        <p>가이드 미팅 후 전용차량 탑승, 호텔 이동 후 체크인 후 관광시작</p>
                                        <p><span>투숙예정호텔 : Alex Hotel & Suite/The lake Front (Millennium Hotel)(고급)</span></p>
                                    </div>
                                    <div class="trip_box">
                                        <div class="trip_sub_box">
                                            <h2>1. 디날리 국립공원 Toklat 지역버스 투어</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic3_1"></div>
                                                <div class="trip_pic_txt">
                                                    <p>600 백만 에이커의 거대한 디날리국립공원내의 투어는 도시락을 참해서 사진과
                                                        같이 별도의 셔틀버스로 6.5 시간 동안 디날리 공원의 자연을 감상하게 됩니다</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>2. 디날리(구 맥킨리)산 시야 감상</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic3_2"></div>
                                                <div class="trip_pic_txt">
                                                    <p>디날리산 전망대에 들러서 6,194m 의 웅장한 디날리산 감상과 함께 단체
                                                        기념촬영을 하면서 휴식을 취합니다.</p>
                                                    <p>와실라로 이동해서 호텔 체크인후 석식 및 자유시간</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="subtab7 time_wrap">
                                    <div class="bgtitle">7일차</div>
                                    <div class="bgsubtitle">디날리</div>
                                    <div class="time_txt">
                                        <p>조식후 디날리 Wildness 출입구로 이동 및 체크인</p>
                                        <p>가이드 미팅 후 전용차량 탑승, 호텔 이동 후 체크인 후 관광시작</p>
                                        <p><span>투숙예정호텔 : Alex Hotel & Suite/The lake Front (Millennium Hotel)(고급)</span></p>
                                    </div>
                                    <div class="trip_box">
                                        <div class="trip_sub_box">
                                            <h2>1. 디날리 국립공원 Toklat 지역버스 투어</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic3_1"></div>
                                                <div class="trip_pic_txt">
                                                    <p>600 백만 에이커의 거대한 디날리국립공원내의 투어는 도시락을 참해서 사진과
                                                        같이 별도의 셔틀버스로 6.5 시간 동안 디날리 공원의 자연을 감상하게 됩니다</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>2. 디날리(구 맥킨리)산 시야 감상</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic3_2"></div>
                                                <div class="trip_pic_txt">
                                                    <p>디날리산 전망대에 들러서 6,194m 의 웅장한 디날리산 감상과 함께 단체
                                                        기념촬영을 하면서 휴식을 취합니다.</p>
                                                    <p>와실라로 이동해서 호텔 체크인후 석식 및 자유시간</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="subtab8 time_wrap">
                                    <div class="bgtitle">8일차</div>
                                    <div class="bgsubtitle">디날리</div>
                                    <div class="time_txt">
                                        <p>조식후 디날리 Wildness 출입구로 이동 및 체크인</p>
                                        <p>가이드 미팅 후 전용차량 탑승, 호텔 이동 후 체크인 후 관광시작</p>
                                        <p><span>투숙예정호텔 : Alex Hotel & Suite/The lake Front (Millennium Hotel)(고급)</span></p>
                                    </div>
                                    <div class="trip_box">
                                        <div class="trip_sub_box">
                                            <h2>1. 디날리 국립공원 Toklat 지역버스 투어</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic3_1"></div>
                                                <div class="trip_pic_txt">
                                                    <p>600 백만 에이커의 거대한 디날리국립공원내의 투어는 도시락을 참해서 사진과
                                                        같이 별도의 셔틀버스로 6.5 시간 동안 디날리 공원의 자연을 감상하게 됩니다</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip_sub_box">
                                            <h2>2. 디날리(구 맥킨리)산 시야 감상</h2>
                                            <div class="trip_pic_wrap">
                                                <div class="trip_table_pic ttpic3_2"></div>
                                                <div class="trip_pic_txt">
                                                    <p>디날리산 전망대에 들러서 6,194m 의 웅장한 디날리산 감상과 함께 단체
                                                        기념촬영을 하면서 휴식을 취합니다.</p>
                                                    <p>와실라로 이동해서 호텔 체크인후 석식 및 자유시간</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="t_content" >
                                <div class="tripc_wrap">
                                    <div class="card cardph1">
                                        <a class="modal_info"  href="#myModal1"></a>
                                        <div class="thumbnail thumnh1"></div>
                                        <div class="desc-wrap">
                                            <div class="desc">
                                                <h2>Alex Hotel & Suite</h2>
                                                <p>The lake Front (Millennium Hotel)(고급)</p>
                                                <p>앵커리지의 5성급 호텔로서 럭셔리한 음식과 편안한 휴식을 취하실 수 있습니다</p>
                                                <h4>클릭을 하면 자세한 정보를 볼 수 있습니다.</h4>
                                                <div class="tag-wrapper">
                                                    <div class="ta">#겨울추천</div>
                                                    <div class="ta">#빙하</div>
                                                    <div class="ta">#개썰매</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardph2">
                                        <a class="modal_info"  href="#myModal1"></a>
                                        <div class="thumbnail thumnh2"></div>
                                        <div class="desc-wrap">
                                            <div class="desc">
                                                <h2>The Perch Resort</h2>
                                                <p>The lake Front (Millennium Hotel)(고급)</p>
                                                <p>디날리공원의 아름다운 자연속에 편안한 휴식을 취해보세요</p>
                                                <h4>클릭을 하면 자세한 정보를 볼 수 있습니다.</h4>
                                                <div class="tag-wrapper">
                                                    <div class="ta">#겨울추천</div>
                                                    <div class="ta">#빙하</div>
                                                    <div class="ta">#개썰매</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card cardph3">
                                        <a class="modal_info"  href="#myModal1"></a>
                                        <div class="thumbnail thumnh3"></div>
                                        <div class="desc-wrap">
                                            <div class="desc">
                                                <h2>Keystone Hote</h2>
                                                <p>Princess Lodge (Millennium Hotel)(고급))</p>
                                                <h4>클릭을 하면 자세한 정보를 볼 수 있습니다.</h4>
                                                <div class="tag-wrapper">
                                                    <div class="ta">#겨울추천</div>
                                                    <div class="ta">#빙하</div>
                                                    <div class="ta">#개썰매</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div id="myModal1" class="tmodal">
                                    <div class="modal-content">
                                        <div class="close_wrap">
                                            <span class="close1">&times;</span>
                                        </div>
                                        <h1 class="hmodal_title">Alex Hotel & Suite/The lake Front (Millennium Hotel)</h1>
                                        <div class="trip_modal_wrap">
                                            <div class="swiper modalswiper">
                                                <div class="swiper-wrapper">
                                                  <div class="swiper-slide hpic hp1_1"></div>
                                                  <div class="swiper-slide hpic hp1_2"></div>
                                                  <div class="swiper-slide hpic hp1_3"></div>
                                                  <div class="swiper-slide hpic hp1_4"></div>
                                                  <div class="swiper-slide hpic hp1_5"></div>
                                                </div>
                                                <div class="swiper-button-next"></div>
                                                <div class="swiper-button-prev"></div>
                                                <div class="swiper-pagination"></div>
                                            </div>
                                            <div class="hotel_wrap">
                                                <div>
                                                    <h4 class="hotel_sub">편의사항</h4>
                                                    <p>Alex Hotel and Suites의 모든 넓은 금연실에는 케이블 TV가 구비되어 있습니다. 휴식 공간과 커피/차도 제공되어 더욱 편리합니다.</p>
                                                    <p>Alex Hotel and Suites는 24시간 리셉션을 운영합니다. 구내 비즈니스 센터도 이용해보시기 바랍니다.</p>
                                                    <p>기차역, 이건 센터(Egan Center) 및 Dena'ina Civic and Convention Center까지 무료 교통편 서비스가 제공됩니다. 어스퀘이크 파크(Earthquake Park)까지는 차로 단 5분이 소요됩니다.</p>
                                                </div>
                                                <div class="modal_impor">
                                                    <span>
                                                        <img src="../img/sub_weather_travel/pet.png">
                                                        <p>반려동물 가능</p>
                                                    </span>
                                                    <span>
                                                        <img src="../img/sub_weather_travel/wifi.png">
                                                        <p>무료 와이파이</p>
                                                    </span>
                                                    <span>
                                                        <img src="../img/sub_weather_travel/car.png">
                                                        <p>무료주차 가능</p>
                                                    </span>
                                                    <span>
                                                        <img src="../img/sub_weather_travel/bath.png">
                                                        <p>욕조</p>
                                                    </span>
                                                    <span>
                                                        <img src="../img/sub_weather_travel/snow.png">
                                                        <p>에어컨</p>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hotel_txt">
                                            <h4 class="hotel_sub">상세 설명</h4>
                                            <p>스페나드 호수 기슭에 위치한 이 호텔은 테드 스티븐스 앵커리지 국제공항과 앵커리지 다운타운까지 무료로 셔틀 서비스를 제공합니다. 구내에는 레스토랑이 있습니다.</p>
                                            <p>The Lakefront Anchorage의 각 객실은 견고한 나무 마룻바닥으로 마감되어 있으며, 케이블 TV, 냉장고, 커피, 실내 전용 금고 및 무료 Wi-Fi를 갖추고 있습니다.</p>
                                            <p>구내 피트니스 짐은 천장부터 바닥까지 내려오는 대형 창문을 자랑합니다. 머무는 동안 비즈니스 센터와 컨시어지 서비스도 이용 가능합니다.</p>
                                            <p>The Lakefront Anchorage에 있는 Flying Machine Restaurant은 조식, 중식, 석식 시간에 영업하며, 알래스카 해산물 요리를 선보입니다. 풀 서비스 바가 마련된 Fancy Moose Lounge에서는 가벼운 미국식 요리를 즐겨보실 수 있습니다.</p>
                                            <p>킨케이드 공원은 The Lakefront Anchorage에서 차로 10분 거리에 있습니다. 알래스카 퍼시픽 대학교는 8km 떨어져 있습니다.</p>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" class="t_content">
                                <div class="sub_trip_wrap">
                                    <h2 class="sub_trip_t">여행약관 & 참고사항</h2>
                                    <div class="sub_trip_txt">
                                        <h4>● 계약금규정</h4>
                                        <p>계약금은 국내/외여행 표준약관에 의거하여 예약일 기준 3일 이내에 상품가격의 10%를 결제하셔야 합니다.</p>
                                        <p>계약금 입금이 지연될 경우 예약이 취소될수 있습니다.</p>
                                        <p>계약금은 항공, 호텔, 현지 사정에 따라 금액이 변동 될수 있으며, 상황에 따라 결제시한이 당겨질수도 있습니다.</p>
                                        <p>계약금 결제 이후 취소료 규정 적용 기간에 취소시 취소 수수료가 계약금 금액보다 클 경우 추가 취소 수수료를 부담하셔야합니다.</p>
                                        <p>아래 명시되어 있는 취소료 규정 기간에 예약시 취소료 금액을 계약금으로 납입하셔야 합니다.</p>
                                    </div>
                                    <div class="sub_trip_txt">
                                        <h4>● 여행 취소료 규정</h4>
                                        <p>▶ 인터넷상에서 예약/결제 취소 및 변경은 불가능 하오니, 예약/결제 취소나 여행자정보 변경을 원하시면 반드시 예약담당자에게 연락하여 주시기 바랍니다.</p>
                                        <br>
                                        <p>본 여행상품의 예약과 취소는 국내여행 표준약관(제6조)에 의하여 자체 특별약관이 적용됩니다.</p>
                                        <br>
                                        <p>특별약관 적용시 공정거래위원회에서 제시하는 표준약관보다 높은 취소수수료가 부과될 수 있습니다.</p>
                                        <div class="bg_sub_trip_txt">
                                            <p>여행개시 10일전 취소 : 발권취소수수료 3만원을 제외한 여행경비 전액 환불</p>
                                            <p>여행개시 9~7일전 취소 : 여행경비의 30%공제 후 환불</p>
                                            <p>여행개시 6~5일전 취소 : 여행경비의 50%공제 후 환불</p>
                                            <p>여행개시 4~1일전 취소 : 여행경비의 70%공제 후 환불</p>
                                            <p>여행개시 당일 취소 : 여행경비의 90%공제 후 환불</p>
                                        </div>
                                    </div>
                                    <div class="sub_trip_txt">
                                        <h4>● 취소위약금 증빙 제공 및 차액환급 안내</h4>
                                        <p>고객님은 상기 취소료에 대해 증빙을 요청할 수 있으며, 취소료 규정과 증빙(인건비 포함)에서 차액이 있는 경우 이를 환급합니다.</p>
                                        <p>증빙제공 및 환급규정</p>
                                        <p>고객은 계약 취소와 관련하여 취소수수료(여행사 인건비 포함) 부가 내역에 대한 구체적인 증빙과 설명을 여행사에 요구할 수 있으며, 여행사는 관련 설명과 증빙을 제시하고, 취소수수료 규정과 차액이 있는 경우 이를 환급합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="tab4" class="t_content">
                                <div class="sub_trip_wrap">
                                    <h2 class="sub_trip_t">여행안전정보</h2>
                                    <div class="sub_trip_txt">
                                        <h4>● 여행금지국가 지정 현황</h4>
                                        <div class="bg_sub_trip_txt">
                                            <p>- 이라크(2007년 8월 7일 ~ 2017년 1월31일까지)</p>
                                            <p>- 소말리아·아프가니스탄(2007년 8월 7일 ~ 2017년 1월 31일까지)</p>
                                            <p>- 예멘(2011년 6월 28일 ~ 2017년 1월 31일까지)</p>
                                            <p>- 시리아(2011년 8월 20일 ~ 2017년 1월 31일까지)</p>
                                            <p>- 리비아(2014년 8월 4일 ~ 2017년 1월 31일까지)</p>
                                            <p>- 필리핀 일부지역(잠보앙가, 술루 군도, 바실란, 타위타위 군도) (2015년 12월 1일 ~ 2017년 1월 31일까지)</p>
                                        </div>
                                    </div>
                                    <div class="sub_trip_txt">
                                        <h4>● 법적근거</h4>
                                        <p>- 여권법 17조(여권의 사용제한 등)</p>
                                        <p>외교부장관은 천재지변·전쟁·내란·폭동·테러 등 대통령령으로 정하는 국외 위난상황(危難狀況)으로 인하여 국민의 생명·신체나 재산을 보호하기 위하여 국민이 특정 국가나 지역을 방문하거나 체류하는 것을 중지시키는 것이 필요하다고 인정하는 때에는 기간을 정하여 해당 국가나 지역에서의 여권의 사용을 제한하거나 방문·체류를 금지 (이하 "여권의 사용제한 등"이라 한다)할수 있다. 다만, 영주(永住), 취재·보도, 긴급한 인도적 사유, 공무 등 대통령령으로 정하는 목적의 여행으로서 외교부장관이 필요하다고 인정하면 여권의 사용과 방문·체류를 허가할 수 있다.</p>
                                        <p>- 여권법 제26조 제17조제1항 본문 및 제2항에 따라 방문 및 체류가 금지된 국가나 지역으로 고시된 사정을 알면서도 같은 조 제1항 단서에 따른 허가(제14조제3항에 따라 준용되는 경우를 포함한다)를 받지 아니하고 해당 국가나 지역에서 여권 등을 사용하거나 해당 국가나 지역을 방문하거나 체류한 사람은 1년 이하의 징역 또는 1000만원 이하의 벌금에 처한다.</p>
                                    </div>
                                    <div class="sub_trip_txt">
                                        <h4>● 동행 이용방법</h4>
                                        <p>- 해외여행자가 해외안전여행홈페이지에 신상정보·국내비상연락처·현지연락처·일정 등을 등록</p>
                                        <p>- 등록된 여행자에게 방문지의 안전정보를 메일로 발송하는 맞춤형 해외여행안전정보제공</p>
                                        <p>- 등록된 여행자가 사건·사고에 처했을 때 비상연락처·소재지 등 파악을 용이하게 하여 보다 효율적 영사 조력 제공 가능</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </section>
                <a href="#" class="top">
                    <img src="../img\logo\b_top.png">
                </a>