
        
        <div class="sub_visual">
            <div class="bg bgyoutube">
                <p class="title">커뮤니티</p>
                <p class="txt">광활하고 순수한 대지, 알래스카로 초대합니다.</p>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2 class="subpg_title">한인관광 TV</h2>
                    <p class="">Total 6건 <span>1</span> 페이지</p>
                </div>
                <section class="subpg_sec">
                    <div class="sub_youtube_contain">
                        <div class="sub_youtube_box">
                            <div class="sub_youtube_wrap">
                                <div class="youtube ypic1"></div>
                                <div class="play yBtn"></div>
                                <div class="time">0:40</div>
                            </div>
                         <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content1">
                                <span class="close">&times;</span>
                                <iframe class="md_youtube" src="https://www.youtube.com/embed/n9F4ON8KNik?rel=0&amp;autoplay=1&mute=1&amp;loop=1;playlist=n9F4ON8KNik" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            
                            </div>
                            <div class="youtube_text">
                                <h2>콜롬비아 빙하 유람선 관광</h2>
                                <div class="youtube_sub_text">
                                    <p>작성자</p>
                                    <p>최고관리자</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>작성일</p>
                                    <p>04-13</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>조회수</p>
                                    <p>859</p>
                                </div>                            
                            </div>                           
                        </div>
                        
                        <div class="sub_youtube_box">    
                            <div class="sub_youtube_wrap">
                                <div class="youtube ypic2"></div>
                                <div class="play yBtn"></div>
                                <div class="time">3:45</div>
                            </div>
                            <!-- The Modal -->
                         <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content1">
                                <span class="close">&times;</span>
                                <iframe class="md_youtube" src="https://www.youtube.com/embed/TLblUQJ6bsY?rel=0&amp;autoplay=1&mute=1&amp;loop=1;playlist=TLblUQJ6bsY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>                           
                        </div>
                            <div class="youtube_text">
                                <h2>환상의 알래스카 북극 오로라</h2>
                                <div class="youtube_sub_text">
                                    <p>작성자</p>
                                    <p>최고관리자</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>작성일</p>
                                    <p>08-13</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>조회수</p>
                                    <p>819</p>
                                </div>                            
                            </div>                        
                        </div>  
                        <div class="sub_youtube_box">
                            <!--<a class="youtube_link" href="https://youtu.be/cwLshV1ihUw" target="_blank"></a>-->
                            <div class="sub_youtube_wrap">
                                <div class="youtube ypic3"></div>
                                <div class="play yBtn"></div>
                                <div class="time">0:49</div>
                            </div>
                               <!-- The Modal -->
                         <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content1">
                                <span class="close">&times;</span>
                                <iframe class="md_youtube" src="https://www.youtube.com/embed/cwLshV1ihUw?rel=0&amp;autoplay=1&mute=1&amp;loop=1;playlist=cwLshV1ihUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>                           
                        </div>
                            <div class="youtube_text">
                                <h2>알래스카 캠핑카 투어</h2>
                                <div class="youtube_sub_text">
                                    <p>작성자</p>
                                    <p>최고관리자</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>작성일</p>
                                    <p>08-03</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>조회수</p>
                                    <p>545</p>
                                </div>                            
                            </div> 
                        </div>
                        <div class="sub_youtube_box">
                          
                            <div class="sub_youtube_wrap">
                                <div class="youtube ypic4"></div>
                                <div class="play yBtn"></div>
                                <div class="time">0:58</div>
                            </div>
                               <!-- The Modal -->
                         <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content1">
                                <span class="close">&times;</span>
                                <iframe class="md_youtube" src="https://www.youtube.com/embed/NFfoZ0yMWpY?rel=0&amp;autoplay=1&mute=1&amp;loop=1;playlist=NFfoZ0yMWpY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>                           
                        </div>
                            <div class="youtube_text">
                                <h2>발데즈 가는길 소개</h2>
                                <div class="youtube_sub_text">
                                    <p>작성자</p>
                                    <p>최고관리자</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>작성일</p>
                                    <p>01-29</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>조회수</p>
                                    <p>498</p>
                                </div>                            
                            </div> 
                        </div>
                        <div class="sub_youtube_box">
                           
                            <div class="sub_youtube_wrap">
                                <div class="youtube ypic5"></div>
                                <div class="play yBtn"></div>
                                <div class="time">1:19</div>
                            </div>
                               <!-- The Modal -->
                         <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content1">
                                <span class="close">&times;</span>
                                <iframe class="md_youtube" src="https://www.youtube.com/embed/4qrQY4vg5O8?rel=0&amp;autoplay=1&mute=1&amp;loop=1;playlist=4qrQY4vg5O8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>                           
                        </div>
                            <div class="youtube_text">
                                <h2>도시어부 촬영지 알래스카 한인관광 전용펜션</h2>
                                <div class="youtube_sub_text">
                                    <p>작성자</p>
                                    <p>최고관리자</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>작성일</p>
                                    <p>04-21</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>조회수</p>
                                    <p>876</p>
                                </div>                            
                            </div> 
                        </div>
                        <div class="sub_youtube_box">
                           
                            <div class="sub_youtube_wrap">
                                <div class="youtube ypic6"></div>
                                <div class="play yBtn"></div>
                                <div class="time">8:34</div>
                            </div>
                               <!-- The Modal -->
                         <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content1">
                                <span class="close">&times;</span>
                                <iframe class="md_youtube" src="https://www.youtube.com/embed/QXIaSgmM0A0?rel=0&amp;autoplay=1&mute=1&amp;loop=1;playlist=QXIaSgmM0A0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>                           
                        </div>
                            <div class="youtube_text">
                                <h2>북극 오로라 설원기차관광</h2>
                                <div class="youtube_sub_text">
                                    <p>작성자</p>
                                    <p>최고관리자</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>작성일</p>
                                    <p>08-03</p>
                                </div>
                                <div class="youtube_sub_text">
                                    <p>조회수</p>
                                    <p>545</p>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="m_number">
                        <a href="#" class="n_left"></a>
                        <a href="#" class="b_number">1</a>
                        <a href="#">2</a>
                        <a href="#" class="n_right"></a>
                    </div>
                </section>                
            </div>
        </div>
        <a href="#" class="top">
            <img src="../img\logo\b_top.png">
        </a>