
        <div class="sub_visual">
            <div class="bg bg0w">
                <p class="title">여행상품</p>
                <p class="txt">알래스카의 다양한 여행상품을 소개합니다</p>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2>테마상품</h2>
                    <p class="">총 <span>6건</span>의 여행상품 보기</p>
                </div>
                <section class="subpg_sec nopb">
                    <div class="travel_con">
                        <div class="triptab">
                          <ul>
                            <li class="active"><a rel="trip1">캠핑카투어</a></li>
                            <li><a rel="trip2">광어낚시</a></li>
                             <li><a rel="trip3">빙하체험</a></li>
                             <li><a rel="trip4">야생동물 탐험</a></li>
                             <li><a rel="trip5">페어뱅크스투어</a></li>
                             <li><a rel="trip6">자작나무숲 트레킹</a></li>
                          </ul>
                        </div>
                        <div id="trip1" class="tripbg tripbg2_1">
                            <div class="tripbgt">
                                <h2>자유여행 속에서 즐기는 캠핑카 투어</h2>
                                <h4>알래스카 한인투어의 전문 캠핑카여행을 즐겨보세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                        <div id="trip2" class="tripbg tripbg1_4" >
                            <div class="tripbgt">
                                <h2>알래스카 여행의 묘미, 광어낚시</h2>
                                <h4>알래스카의 특별한 음식인 광어를 즐겨보세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                        <div id="trip3" class="tripbg tripbg1_3">
                            <div class="tripbgt">
                                <h2>알래스카의 꽃, 생생빙하체험</h2>
                                <h4>알래스카의 빙하의 아름다움을 온몸으로 느껴보세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                        <div id="trip4" class="tripbg tripbg2_4">
                            <div class="tripbgt">
                                <h2>알래스카의 대자연속 야생동물 탐험</h2>
                                <h4>알래스카에서만 볼수 있는 야생동물을 탐험해보세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                        <div id="trip5" class="tripbg tripbg2_5">
                            <div class="tripbgt">
                                <h2>알래스카 오로라의 중심지 페어뱅크스</h2>
                                <h4>알래스카의 중심 페어뱅크스에서 대자연을 감상하세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                        <div id="trip6" class="tripbg tripbg2_6">
                            <div class="tripbgt">
                                <h2>알래스카 자작나무숲 트래킹</h2>
                                <h4>알래스카의 대자연 자작나무숲속을 걸어보세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="subpg_sec">  
                    <div class="showtrip">                 
                        <div class="trip_wrap">
                            <div class="trip_pic thempic1">
                                <div class="trip_tag tag_par">테마상품</div>
                            </div>
                            <div class="trip_text">
                                <div class="trip_text_box">
                                    <h4>자가운전 캠핑카 투어</h4>
                                    <p>자유여행 캠핑카 투어는 일행들이 캠핑카를 랜트해서 직접 운전하면서 즐겨보세요.</p>
                                    <div class="trip_term"W>자유여행</div>
                                </div>    
                                <button class="trip_btn_more" href="#themModal1">상세보기</button>
                            </div>    
                        </div>
                    </div>
                    <div class="showtrip"> 
                        <div class="trip_wrap">
                        <div class="trip_pic thempic2">
                            <div class="trip_tag tag_par">테마상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>도시어부 촬영지 호머 낚시</h4>
                                <p> 도시어부 촬영지 광어낚시</p>
                                <div class="trip_term">자유여행</div>
                            </div>    
                            <button class="trip_btn_more" href="#themModal2">상세보기</button>
                        </div>    
                        </div>
                    </div>    
                    <div class="showtrip"> 
                        <div class="trip_wrap">
                        <div class="trip_pic thempic3">
                            <div class="trip_tag tag_par">테마상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>생생 빙하체험</h4>
                                <p> 여러 도시들을 거쳐 가며 알래스카의 대자연, 빙하를 눈에 담아가며 체험하세요.</p>
                                <div class="trip_term">7박 9일(기내 1일 숙박)</div>
                            </div>    
                            <button class="trip_btn_more" href="#themModal2">상세보기</button>
                        </div>    
                        </div>
                    </div>    
                    <div class="showtrip"> 
                        <div class="trip_wrap">
                        <div class="trip_pic thempic4">
                            <div class="trip_tag tag_par">테마상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>야생동물 탐험 패키지</h4>
                                <p>알래스카에서는 야생동물 탐험의 세계가 끝없이 펼쳐집니다. 국립공원과 망망대해를 따라 알래스카의 신기한 동물 친구들을 만나보세요.</p>
                                <div class="trip_term">자유여행</div>
                            </div>    
                            <button class="trip_btn_more" href="#themModal2">상세보기</button>
                        </div>    
                        </div>
                    </div>    
                    <div class="showtrip"> 
                        <div class="trip_wrap">
                        <div class="trip_pic thempic5">
                            <div class="trip_tag tag_par">테마상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>페어뱅크스 투어 패키지</h4>
                                <p>신비롭고 황홀한 오로라의 성지인 알래스카 페어뱅크스, 인생 최고의 힐링여행</p>
                                <div class="trip_term">자유여행</div>
                            </div>    
                            <button class="trip_btn_more" href="#themModal2">상세보기</button>
                        </div>    
                        </div>
                    </div>    
                    <div class="showtrip"> 
                        <div class="trip_wrap">
                        <div class="trip_pic thempic6">
                            <div class="trip_tag tag_par">테마상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>자작나무 숲길 걷기 (트레킹) 패키지</h4>
                                <p>자작나무 숲길 (트레킹 코스) 걷기는 알래스카 대자연의 아름다운 풍경을 산책하면서 즐길 수 있는 낭만적인 투어입니다.</p>
                                <div class="trip_term">자유여행</div>
                            </div>    
                            <button class="trip_btn_more" href="#themModal2">상세보기</button>
                        </div>    
                        </div>
                    </div>    
                    <button class="btn_open">더보기</button>
                    <button class="btn_c">감추기</button>
                </section>                
            </div>
        </div>
        <a href="#" class="top">
            <img src="../img\logo\b_top.png">
        </a>
                   