    <main>
        <div class="sub_visual">
            <div class="bg bg0par">
                <p class="title">파트너 상품</p>
                <p class="txt">알래스카의 다양한 파트너상품을 소개합니다</p>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2>파트너상품</h2>
                </div>
                <section>
                    <div class="swiper themSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                            <img src="../img/sub_travel/partban1.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="../img/sub_travel/partban2.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="../img/sub_travel/partban3.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="../img/sub_travel/partban4.jpg">
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                  </div>
                </section>
                <section>
                    <div class="ttab_container">
                        <div class="ttabs">
                          <ul>
                            <li class="active"><a rel="pa1">빙하유람선관광</a></li>
                            <li><a rel="pa2">알래스카기차관광</a></li>
                             <li><a rel="pa3">개썰매투어</a></li>
                             <li><a rel="pa4">디날리산 경비행기 관광</a></li>
                          </ul>
                        </div>
                        <div id="pa1" class="tab_content">
                            <div class="part_wrap">
                                <div class="partpic partpic1"></div>
                                <div class="p_txt">
                                    <h4>알래스카 빙하유람선 관광</h4>
                                    <h4 class="sub_y">수천년의 비밀을 간직한 신비한 푸른빛 알래스카</h4>
                                    <p>서프라이즈 글래시어 빙하 유람선을 타고 즐기는 빙하코스로 흰 얼음 조각들과 푸른 하늘과의 멋진 조화!</p>
                                    <p>서프라이즈 글래시어 빙하 유람선을 타고 산 끝이 바다와 맞닿아 있는 곳으로 일부지역에는 커다란 빙하가 서서히 흘러 내려와 바다에 둥둥 떠 있는 흰 얼음 조각들과 푸른 하늘이 멋진 조화를 이룹니다</p>
                                    <p>이곳은 수달, 물개, 고래, 독수리 등 해양생태계와 수천년의 비밀을 간직한 푸른빛 만년 빙하를 만날 수 있습니다.</p>
                                    <div class="p_txt_bg">
                                        <p>1. 알래스카 관광 가이드북 증정 및 알래스카 명물요리 시식</p>
                                        <p>2. 알래스카 최상품(사카이연어) 싱싱한 연어회 1회/연어의 풍미 바로 구운 연어베이크 시식</p>
                                        <p>3. 알래스카 제철 푸짐한 신선채소, 디저트 시식</p>
                                    </div>  
                                    <div class="button_wrap">
                                        <a href="partner_trip_more">상세보기</a>                                        
                                        <a href="qna">예약문의</a>                                          
                                    </div>    
                                </div>     
                            </div>
                        </div>
                      
                        <div id="pa2" class="tab_content">
                            <div class="part_wrap">
                                <div class="partpic partpic2"></div>
                                <div class="p_txt">
                                    <h4>알래스카 기차 관광</h4>
                                    <h4 class="sub_y">설산을 가르며 대자연을 느끼는 기차관광</h4>
                                    <p>앵커리지부터 시작하며 편안한 기차속에서 대자연의 아름다움을 느껴보세요</p>
                                    <p>서프라이즈 글래시어 빙하 유람선을 타고 산 끝이 바다와 맞닿아 있는 곳으로 일부지역에는 커다란 빙하가 서서히 흘러 내려와 바다에 둥둥 떠 있는 흰 얼음 조각들과 푸른 하늘이 멋진 조화를 이룹니다</p>
                                    <p>이곳은 수달, 물개, 고래, 독수리 등 해양생태계와 수천년의 비밀을 간직한 푸른빛 만년 빙하를 만날 수 있습니다.</p>
                                    <div class="p_txt_bg">
                                        <p>1. 알래스카 관광 가이드북 증정 및 알래스카 명물요리 시식</p>
                                        <p>2. 알래스카 최상품(사카이연어) 싱싱한 연어회 1회/연어의 풍미 바로 구운 연어베이크 시식</p>
                                        <p>3. 알래스카 제철 푸짐한 신선채소, 디저트 시식</p>
                                    </div>  
                                    <div class="button_wrap">
                                        <a href="partner_trip_more">상세보기</a>                                           
                                        <a href="qna">예약문의</a>                                          
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div id="pa3" class="tab_content">
                            <div class="part_wrap">
                                <div class="partpic partpic3"></div>
                                <div class="p_txt">
                                    <h4>개썰매(Dog Sled) 투어</h4>
                                    <h4 class="sub_y">알래스카 겨울 여행의 꽃인 개썰매 체험</h4>
                                    <p>서프라이즈 글래시어 빙하 유람선을 타고 즐기는 빙하코스로 흰 얼음 조각들과 푸른 하늘과의 멋진 조화!</p>
                                    <p>서프라이즈 글래시어 빙하 유람선을 타고 산 끝이 바다와 맞닿아 있는 곳으로 일부지역에는 커다란 빙하가 서서히 흘러 내려와 바다에 둥둥 떠 있는 흰 얼음 조각들과 푸른 하늘이 멋진 조화를 이룹니다</p>
                                    <p>이곳은 수달, 물개, 고래, 독수리 등 해양생태계와 수천년의 비밀을 간직한 푸른빛 만년 빙하를 만날 수 있습니다.</p>
                                    <div class="p_txt_bg">
                                        <p>1. 개썰매 트레일로 이동</p>
                                        <p>2. 개썰매 체험 (30분)</p>
                                        <p>3. Drop off Service (페어뱅크스 다운타운내 호텔)</p>
                                    </div>  
                                    <div class="button_wrap">
                                        <a href="partner_trip_more">상세보기</a>                                          
                                        <a href="qna">예약문의</a>                                          
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div id="pa4" class="tab_content">
                            <div class="part_wrap">
                                <div class="partpic partpic4"></div>
                                <div class="p_txt">
                                    <h4>디날리산 경비행기 관광</h4>
                                    <h4 class="sub_y">하늘을 가르며 대자연을 온몸으로 느끼는!</h4>
                                    <p>서프라이즈 글래시어 빙하 유람선을 타고 즐기는 빙하코스로 흰 얼음 조각들과 푸른 하늘과의 멋진 조화!</p>
                                    <p>서프라이즈 글래시어 빙하 유람선을 타고 산 끝이 바다와 맞닿아 있는 곳으로 일부지역에는 커다란 빙하가 서서히 흘러 내려와 바다에 둥둥 떠 있는 흰 얼음 조각들과 푸른 하늘이 멋진 조화를 이룹니다</p>
                                    <p>이곳은 수달, 물개, 고래, 독수리 등 해양생태계와 수천년의 비밀을 간직한 푸른빛 만년 빙하를 만날 수 있습니다.</p>
                                    <div class="p_txt_bg">
                                        <p>1. 알래스카 관광 가이드북 증정 및 알래스카 명물요리 시식</p>
                                        <p>2. 알래스카 최상품(사카이연어) 싱싱한 연어회 1회/연어의 풍미 바로 구운 연어베이크 시식</p>
                                        <p>3. 알래스카 제철 푸짐한 신선채소, 디저트 시식</p>
                                    </div>  
                                    <div class="button_wrap">
                                        <a href="partner_trip_more">상세보기</a>                                          
                                        <a href="qna">예약문의</a>                                          
                                    </div>    
                                </div>
                            </div> 
                        </div>
                    </div>
                    
                </section>
            </div>
        </div>
        <a href="#" class="top">
            <img src="../img\logo\b_top.png">
        </a>