
        <div class="sub_visual">
            <div class="bg bgin">
                <p class="title">알래스카한인관광소개</p>
                <p class="txt">Before you die, The last frontier</p>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="content">
                <div class="subpg_title_wrap">
                    <h2 class="subpg_title">참고사항</h2>
                    <p class=""></p>
                </div>
                <section class="subintro_sec1">
                    <h1>몸으로 느끼는 광활한 대자연, 알래스카 참고사항</h1>
                    <h2>Widespread Mother Nature, Alaska Tourism</h2>
                    <div class="subintro_sec1_box">
                        <div class="subintro_sec_text1">
                            <p>알라스카 한인관광(AK Travel & Tour)을 찾아주신 고객 여러분들께 진심으로 감사의 말씀을 드립니다. 고객 여러분들께서 이번 알라스카 여행중에 알아 두셔야 할 사항과 참고사항은 아래와 같습니다.보다 더 안전하고 쾌락한 관광이 될 수 있도록 협조를 해주시면 대단히 감사 하겠습니다.</p>
                        </div>                  
                    </div>
                </section>
                <section>
                    <div class="subnoted_title">
                        <h2>1. 개인 준비물</h2>
                    </div>
                    <div class="subnoted_txt_wrap1">
                        <div class="subnoted_txt">
                            <div class="subnoted_t">여행복장</div>
                            <div class="subnoted_s">봄/가을 입는셔츠,아웃도어 잠바,캐주얼 신발</div>
                        </div>
                        <div class="subnoted_txt">
                            <div class="subnoted_t">개인소지품</div>
                            <div class="subnoted_s">여권,개인 위생도구(치약,칫솔기타),상비약,썬글라스,썬크림등</div>
                        </div>
                        <div class="subnoted_txt">
                            <div class="subnoted_t">등산/전기제품</div>
                            <div class="subnoted_s">110볼트 사용, 전화는 로밍지역으로 출국전 해당통신사 문의</div>
                        </div>
                        <div class="subnoted_txt">
                            <div class="subnoted_t">주의사항</div>
                            <div class="subnoted_s">★ 알라스카 여름(6-8월) 평균기온: 18-26C (패어뱅스쪽은 30C까지 상승)
                                그러나 빙하유람선 관광 과 밤낮의 기온차 고려해서 아웃도어 잠바가 필요함.</div>
                        </div>
                    </div>                                       
                </section>
                <section>
                    <div class="subnoted_title">
                        <h2>2. 입국 신고서</h2>
                    </div>
                    <div class="subnoted_wrap">
                        <div class="subnoted_pic">
                            <img src="../img/sub_intro/ipgook.jpg">
                        </div>
                        <div class="subnoted_txt_wrap">
                            <div class="subnoted_txt">
                                <div class="subnoted_t">관광 회사명</div>
                                <div class="subnoted_s">AK Travel & Tour.LLC(알래스카 한인관광)</div>
                            </div>
                            <div class="subnoted_txt">
                                <div class="subnoted_t">연락처</div>
                                <div class="subnoted_s">907-17-8779 또는 907-222-4001</div>
                            </div>
                            <div class="subnoted_txt">
                                <div class="subnoted_t">카톡아이디</div>
                                <div class="subnoted_s">rk0333</div>
                            </div>
                            <div class="subnoted_txt">
                                <div class="subnoted_t">주소</div>
                                <div class="subnoted_s">4105 Turnagain Blvd E #A1 Anchorage, AK99517</div>
                            </div>
                        </div> 
                    </div>                                       
                </section>
                <section class="subnoted_wrap">
                    <div class="subnoted_txt_box">
                        <div class="subnoted_title">
                            <h2>3. 공항픽업</h2>
                        </div>
                        <p>1. 비행기 공항 도착 후 가이드와 카톡이나 전화로 확인 위치 확인</p>
                        <p>2. 해당 비행기 회사 Baggage Claim밖에서 가이드와 미팅 후 픽업 ★ 필요시 푯말 사용</p>
                    </div>
                    <div class="subnoted_txt_box">
                        <div class="subnoted_title">
                            <h2>4.숙소 및 차량 좌석 배정</h2>                    
                        </div>
                        <p>1. <span>호텔 Check In 및 방 배정 :</span> 2인1실을 기준, 사전 요구한 방배정에 따라서 가이드가 명단 확인과 함께 방열쇠를 드립니다. (모닝콜,와이파이,조식등 확인)</p>
                        <p>2. <span>차량 좌석 배정 :</span> 노약자나 몸이 불편 하신분들을 우선적으로 앞좌석에 배정함을 원칙으로 하되,매일 좌석을 로테이션 하오니 서로 양보하여 즐거운 여행이 될 수있도록 많은 협조를 부탁 드립니다.</p>
                    </div>                                                      
                </section>
                <section>
                    <div class="subnoted_title">
                        <h2>5. 여행중 지켜야할 사항</h2>
                    </div>
                        <div class="subnoted_wrap">
                            <div class="subnoted_txt_wrap">
                                <p>1. 차량 내에서는 절대 금주, 금연 이며,커피나 음료는 버스 밖에서 드신후 승차 바랍니다.</p>
                                <p>2. 차량 운행중 좌석에서 일어나시는것은 위험 하므로 주의 하시기 바랍니다.</p>
                                <p>3. 차량안에서 휴대폰 사용은 자제해 주시고 음량은 진동으로 조절해 주시기 바랍니다.</p>
                                <p>4. 기차,유람선 관광등 예약된 시간은 엄수 해 주시기 바랍니다.</p>
                                <p>5. 몸이 아프시거나 멀미를 하시는 분들은 사전에 알려 주시기 바랍니다.</p>
                                <p>6. 여행중 쓰레기 버리다 적발시 미화 300불 이상의 벌금이 부과 될수가 있습니다.</p>
                                <p>7.  만일 외국인과 신체접촉을 했을 경우 반드시 "I am sorry" 로 예의를 표시하고,줄을 서거나 실례를 할경우는 "Excuse me"라는 인사가 필요 합니다.</p>
                            </div>           
                            <div class="subnoted_pic none720">
                                <img src="../img/sub_intro/chamgo.jpg">
                            </div>
                        </div>              
                </section>
                <section class="subnoted_wrap">
                    <div class="subnoted_txt_box">
                        <div class="subnoted_title">
                            <h2>6. 응급상황 발생시</h2>
                        </div>
                        <p>1. 응급상황(환자발생,도로공사,긴급재난등)시 침착하게 행동하시면서 가이드 안내를 따르시면 됩니다.</p>
                        <p>2. 천재지변이 발생하지 않은이상 일정은 계획대로 진행이 됩니다.</p>
                    </div>
                    <div class="subnoted_txt_box">
                        <div class="subnoted_title">
                            <h2>7.가이드 식당 호텔 팁 적용</h2>                    
                        </div>
                        <p>1. <span>팁</span>은 미국문화인 동시에 관습이오니 꼭 지켜 주시기 바랍니다.</p>
                        <p>2. 식당:조,중식,석식:1인당 15-18% 호텔: 1인당 $1.00</p>
                        <p>3. 관광 가이드 및 운전기사 봉사료: 일일 $15 입니다(4세이상은 동일하게 적용 됩니다)</p>
                    </div>                                                      
                </section>
                <section class="subintro_noted_sec_bg">
                    <div class="subnoted_title">
                        <h2>주의사항</h2>
                    </div>
                    <div class="subnoted_wrap_box">
                        <div class="subnoted_txt_wrap">
                            <p>1. 귀중품 및 현금 등의 분실사고와 개인의 안전사고에 대하여 각별히 유의하여 주시기 바랍니다.</p>
                            <p>2. 귀중품 분실시 당사는 책임을 지지 않으며 어떠한 도움도 드리지 못함을 알려드립니다 개인의 부주의로 인한 부상, 분실, 천재지변, 불가항력으로 인한 일정의 변경 및 일부 취소에 따른 손해에 대해서는 관례에 따라 면책됨을 알려드립니다.</p>
                            <p>★ 관광 일정은 현지사정 (도로사정, 날씨 등)에 따라 사전통지 없이 다소 변경될 수 있습니다.</p>
                        </div>          
                   </div>              
                </section>
        </div>
        <a href="#" class="top">
            <img src="../img\logo\b_top.png">
        </a>
   