
        <div class="sub_visual">
            <div class="bg bg0w">
                <p class="title">여행상품</p>
                <p class="txt">알래스카의 다양한 여행상품을 소개합니다</p>
            </div>
        </div>
        <div class="w1200 content_box">
            <div id="weather" class="content tcon">
                <div class="subpg_title_wrap">
                    <h2>계절상품</h2>
                    <p class="">총 <span>10건</span>의 여행상품 보기</p>
                </div>
                <section class="subpg_sec nopb">
                    <div class="travel_con">
                        <div class="triptab">
                          <ul>
                            <li class="active"><a rel="trip1">디날리공원</a></li>
                            <li><a rel="trip2">오로라</a></li>
                             <li><a rel="trip3">발데즈</a></li>
                             <li><a rel="trip4">광어낚시</a></li>
                          </ul>
                        </div>
                        <div id="trip1" class="tripbg tripbg1_1">
                            <div class="tripbgt">
                                <h2>앵커리지를 기점으로 북쪽으로 이어지는 아름다운 자연</h2>
                                <h4>디날리의 풍요로운 대자연을 온몸으로 느껴보세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                        <div id="trip2" class="tripbg tripbg1_2" >
                            <div class="tripbgt">
                                <h2>알래스카의 아름다운 밤하늘의 꽃 오로라</h2>
                                <h4>밤하늘을 빛내는 오로라의 아름다움을 감상하세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                        <div id="trip3" class="tripbg tripbg1_3">
                            <div class="tripbgt">
                                <h2>알래스카의 꽃, 발데즈의 천년속의 빙하</h2>
                                <h4>알래스카의 빙하의 아름다움을 온몸으로 느껴보세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                        <div id="trip4" class="tripbg tripbg1_4">
                            <div class="tripbgt">
                                <h2>알래스카 여행의 묘미, 광어낚시</h2>
                                <h4>알래스카의 특별한 음식인 광어를 즐겨보세요</h4>
                                <a class="btn_more" href="weather_trip_more">바로가기</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="subpg_sec">
                    <h4 class="showt">여름상품</h4>
                    <div class="showtrip">                  
                        <div class="trip_wrap">
                            <div class="trip_pic tpic1">
                                <div class="trip_tag tag_sum">여름상품</div>
                            </div>
                            <div class="trip_text">
                                <div class="trip_text_box">
                                    <h4>디날리 공원-발디즈(빙하) -키나이 반도(기차)</h4>
                                    <p>앵커리지를 기점으로 해서 북쪽으로 열차관광으로 이어지는 코스 입니다.</p>
                                    <div class="trip_term">여행기간 8일</div>
                                </div>    
                                <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                            </div>    
                        </div>
                    </div> 
                    <div class="showtrip">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic2">
                            <div class="trip_tag tag_sum">여름상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>호머(도시어부 촬영지)광어 낚시</h4>
                                <p> 2018년 도시어부 알래스카편 촬영지인 호머에서 남녀노소 누구나
                                    광어 낚시를 즐길수 있는 상품으로서, 일반 관광과 함께광어낚시
                                    패키지 입니다.</p>
                                <div class="trip_term">여행기간 8일</div>
                            </div>    
                            <a class="trip_btn_more" rel="more2">상세보기</a>
                        </div>
                        </div>
                    </div>
                    <div class="showtrip">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic3">
                            <div class="trip_tag tag_sum">여름상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>맷수벨리(대평원)코스</h4>
                                <p>  위디어항에서 프린스 윌리암 사운드 빙하유람선 관광에 이어 스워드
                                    기차 관광후 헤쳐패스라는 대평원을 걸으면서 감상하는 코스 입니다</p>
                                <div class="trip_term">여행기간 8일</div>
                            </div>
                            <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                        </div>
                        </div>
                    </div>    
                    <div class="showtrip">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic4">
                            <div class="trip_tag tag_sum">여름상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>호머(도시어부 촬영지)코스</h4>
                                <p>  2018년 도시어부 알래스카편 촬영지인 호머에서 남녀노소 누구나
                                    광어 낚시를 즐길수 있는 상품으로서, 일반 관광과 함께광어낚시
                                    패키지 입니다.</p>
                                <div class="trip_term">여행기간 8일</div>
                            </div>    
                            <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                        </div>
                        </div>
                    </div>    
                    <div class="showtrip">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic5">
                            <div class="trip_tag tag_sum">여름상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>디날리-발데즈-호머(도시어부 촬영지)코스</h4>
                                <p>앵커리지->디날리공원->타키나
                                    경비행기 관광->발데즈 콜롬비아빙하 관광->걸우드
                                    케이블카 관광->스워드 열차관광 코스</p>
                                <div class="trip_term">여행기간 8일</div>
                            </div>    
                            <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                        </div>
                        </div>
                    </div>    
                    <div class="showtrip">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic6">
                            <div class="trip_tag tag_sum">여름상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>발데즈 -호머(도시어부 촬영지) 코스</h4>
                                <p>  위디어항에서 프린스 윌리암 사운드 빙하유람선 관광에 이어 스워드
                                    기차 관광후 헤쳐패스라는 대평원을 걸으면서 감상하는 코스 입니다.</p>
                                <div class="trip_term">여행기간 9일</div>
                            </div>    
                            <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                        </div>
                        </div>
                    </div>    
                    <div class="showtrip">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic7">
                            <div class="trip_tag tag_sum">여름상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>작은 스위스 알래스카 발데즈 관광</h4>
                                <p> 2018년 도시어부 알래스카편 촬영지인 호머에서 남녀노소 누구나
                                    광어 낚시를 즐길수 있는 상품으로서, 일반 관광과 함께광어낚시
                                    패키지 입니다.</p>
                                <div class="trip_term">여행기간 7일</div>
                            </div>    
                            <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                        </div>
                        </div>
                    </div>   
                    <button class="btn_open">더보기</button>
                    <button class="btn_c">감추기</button>
                    <h4 class="showt">겨울상품</h4>
                    <div class="showtrip1">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic8">
                            <div class="trip_tag tag_win">겨울상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>북극오로라 설국기차 온천관광</h4>
                                <p>  앵커리지 -> 디날리공원 -> 타키나
                                    경비행기 관광 - >와실라-동남쪽인 발데즈 콜롬비아빙하 관광->걸우드
                                    케이블카 관광-스워드 열차관광 코스.</p>
                                <div class="trip_term">여행기간 6일</div>
                            </div>    
                            <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                        </div>
                        </div>
                    </div>    
                    <div class="showtrip1">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic9">
                            <div class="trip_tag tag_win">겨울상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>오로라 - 유황 온천 관광</h4>
                                <p>  위디어항-> 프린스 윌리암 사운드 빙하유람선 관광 -> 스워드
                                    기차 관광 ->헤쳐패스라는 대평원 코스</p>
                                <div class="trip_term">여행기간 6일</div>
                            </div>    
                            <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                        </div>
                        </div>
                    </div>    
                    <div class="showtrip1">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic10">
                            <div class="trip_tag tag_win">겨울상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>오로라 - 유황 온천 관광</h4>
                                <p> 위디어항-> 프린스 윌리암 사운드 빙하유람선 관광 -> 스워드
                                    기차 관광 ->헤쳐패스라는 대평원 코스</p>
                                <div class="trip_term">여행기간 6일</div>
                            </div>    
                            <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                        </div>
                        </div>
                    </div>    
                    <div class="showtrip1">  
                        <div class="trip_wrap ">
                        <div class="trip_pic tpic10">
                            <div class="trip_tag tag_win">겨울상품</div>
                        </div>
                        <div class="trip_text">
                            <div class="trip_text_box">
                                <h4>오로라 - 유황 온천 관광</h4>
                                <p> 위디어항-> 프린스 윌리암 사운드 빙하유람선 관광 -> 스워드
                                    기차 관광 ->헤쳐패스라는 대평원 코스</p>
                                <div class="trip_term">여행기간 6일</div>
                            </div>    
                            <a class="trip_btn_more" href="weather_trip_more">상세보기</a>
                        </div>
                        </div>
                    </div>
                    <button class="btn_open1">더보기</button>
                    <button class="btn_c1">감추기</button>
                </section>                
            </div>

            
        </div>
        <a href="#" class="top">
            <img src="../img\logo\b_top.png">
        </a>
         <!-- Swiper JS -->