        <section class="msec1">
            <!-- Swiper -->
            <div class="swiper mainswiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="./img/main/mainsec1.jpg">
                        <dl class="right">
                            <dt>알래스카 오로라관광</dt>
                            <dd>하늘을 수놓는 아름다운 보석과 같은 대자연의 아름다움을 감상하세요</dd>
                            <a href="">더 보기</a>
                        </dl>
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/main/mainsec2.jpg">
                        <dl >
                            <dt>알래스카 발데즈관광</dt>
                            <dd>알래스카의 숨은 아름다운 자연, 하늘을 품은 알래스카를 감상하세요</dd>
                        </dl>
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/main/slide_3.jpg">
                        <dl class="right">
                            <dt>알래스카 경비행기관광</dt>
                            <dd>하늘을 가르며 만나는 알래스카의 대자연속에서 아름다움을 느껴보세요</dd>
                        </dl>
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/main/slide_4.jpeg">
                        <dl>
                            <dt>알래스카 호머낚시</dt>
                            <dd>알래스카에서 즐기는 광어낚시, 즐거움을 선사합니다</dd>
                        </dl>
                    </div>
                </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
        <section class="sec2">
            <div class="w1200 hash_wrap">
                <ul>
                    <li><a href="">#전체</a></li>
                    <li><a href="weather_trip">#오로라관광</a></li>
                    <li><a href="thema_trip">#테마관광</a></li>
                    <li><a href="weather_trip">#여름관광</a></li>
                    <li><a href="weather_trip">#겨울관광</a></li>
                    <li><a href="partner_trip">#개썰매체험</a></li>
                    <li><a href="partner_trip">#파트너상품</a></li>
                </ul>
                <ul>
                    <li><a href="youtube">#한인관광TV</a></li>
                    <li><a href="thema_trip">#캠핑카투어</a></li>
                    <li><a href="weather_trip">#온천관광</a></li>
                    <li><a href="info_trip">#알래스카음식</a></li>
                    <li><a href="info_trip">#앵커리지</a></li>
                    <li><a href="weather_trip">#빙하유람선관광</a></li>
                </ul>
            </div>
        </section>
        <section class="msec3">
            <div class="w1200 lab_title">
                <a href="">
                    <p>Data Lab</p>
                    <div>
                        <h1>계절상품</h1>
                        <p>계절에 맞는 다양한 여행지를 보여드려요</p>
                    </div>
                </a>
            </div>
            <div class="w1640 lab_contain">
                <ul class="lab_wrap">
                    <li>
                        <a href="weather_trip">
                            <span class="tag tag_sum">여름</span>
                            <div class="labpic">
                                <div class="lab1"></div>
                            </div>
                            <strong>호머 광어 낚시</strong>
                        </a>
                    </li>             
                    <li>
                        <a href="weather_trip">
                            <span class="tag tag_win">겨울</span>
                            <div class="labpic">
                                <div class="lab2"></div>
                            </div>
                            <strong>북극오로라 설국기차 온천관광</strong>
                        </a>
                    </li>    
                    <li>
                        <a href="weather_trip">
                            <span class="tag tag_sum">여름</span>
                            <div class="labpic">
                                <div class="lab3"></div>
                            </div>
                            <strong>작은 스위스 발데즈 관광</strong>
                        </a>
                    </li>    
                    <li>
                        <a href="weather_trip">
                            <span class="tag tag_sum">여름</span>
                            <div class="labpic">
                                <div class="lab4"></div>
                            </div>
                            <strong>멭수벨리(대평원)코스</strong>
                        </a>
                    </li>    
                    <li>
                        <a href="weather_trip">
                            <em class="tag tag_win">겨울</em>
                            <div class="labpic">
                                <div class="lab5"></div>
                            </div>
                            <strong>오로라유황온천 관광</strong>
                        </a>
                    </li>           
                </ul>    
            </div>
        </section>
        <section class="msec4">
            <div class="w1200 msec4_wrap">
                <article>
                    <div class="msec4_box alaska_wrap">
                        <div class="sub_title">
                            <h2>알래스카 참고사항</h2>
                            <a href="intro_noted">더보기</a>
                        </div>
                        <div class="alaska_thumb">
                            <a href="intro_noted"></a>
                        </div>
                    </div>
                    <div class="msec4_box notice_cotain">
                        <div class="sub_title">
                            <h2>공지사항</h2>
                            <a href="notice">더보기</a>
                        </div>
                        <div class="notice_wrap">
                            <a href="notice_page">2022 알라스카 여름관광 open</a>
                            <a href="">2022 알라스카 여름관광 설명회(한국)</a>
                            <a href="">Covid-19와 관련한 알라스카 겨울관광</a>
                            <a href="">알라스카 한인관광 고객 백신접종</a>  
                            <a href="">알라스카 한인관광 고객 백신접종</a>  
                        </div>
                    </div>
                </article>
                <article>
                    <div class="sub_title">
                        <h2>여행정보</h2>
                        <a href="info_trip">더보기</a>
                    </div>
                    <div class="msec4_box travel_thumb_wrap">
                        <div class="travel_thumb">
                            <a class="tthumb travel_1" href=""></a>
                            <a class="thumbbg" href="">
                                <div class="thumb_text">
                                    <strong>여행정보</strong>
                                    <p>지도 보기</p>
                                </div>
                            </a>
                        </div>
                        <div class="travel_thumb">
                            <a class="tthumb travel_2" href=""></a>
                            <a class="thumbbg" href="">
                                <div class="thumb_text">
                                    <strong>여행정보</strong>
                                    <p>코스 트레일</p>
                                </div>
                            </a>
                        </div>
                        <div class="travel_thumb">
                            <a class="tthumb travel_3" href=""></a>
                            <a class="thumbbg" href="">
                                <div class="thumb_text">
                                    <strong>여행정보</strong>
                                    <p>음식점</p>
                                </div>
                            </a>
                        </div>
                        <div class="travel_thumb">
                            <a class="tthumb travel_4" href=""></a>
                            <a class="thumbbg" href="">
                                <div class="thumb_text">
                                    <strong>여행정보</strong>
                                    <p>숙박업소</p>
                                </div>
                            </a>
                        </div>                        
                    </div>
                </article>
            </div>
        </section>
        <section class="msec5">
            <article class="w1200 msec5_wrap">
                <div class="sub_title">
                    <h2>파트너상품</h2>
                </div>
                <div class="partner_wrap">
                    <div class="containers">
                        <div href="partner_trip" class="cards cards0">
                            <a href="partner_trip" class="ptbg">
                                <h2></h2>
                            </a>
                            <h1>빙하유람선관광</h1>
                        </div>
                        <div href="partner_trip" class="cards cards1">
                            <a href="partner_trip" class="ptbg">
                                <h2>알래스카기차관광</h2>
                            </a>    
                                <h1>알래스카기차관광</h1>
                                
                        </div>
                        <div href="partner_trip" class="cards cards2">
                            <a href="partner_trip" class="ptbg">
                                <h2>개썰매투어</h2>
                            </a>    
                                <h1>개썰매투어</h1>
                                
                        </div>
                        <div href="partner_trip" class="cards cards3">
                            <a href="partner_trip" class="ptbg">
                                <h2>디날리산경비행기관광</h2>
                            </a>    
                                <h1>디날리산경비행기관광</h1>
                                
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="msec6">
            <div class="w1200 msec6_wrap">
                <article>
                    <div class="sub_title">
                        <h2>한인관광 TV</h2>
                        <a href="youtube">더보기</a>
                    </div>
                    <div class="youtube_contain">
                        <div class="youtube_box">
                            <a class="youtube_link" href="https://youtu.be/udOfSk6s1MI" target="_blank"></a>
                            <div class="youtube_wrap">
                                <div class="youtube ypic1"></div>
                                <div class="play"></div>
                                <div class="time">0:40</div>
                            </div>
                            <div class="youtube_text">
                                <strong>콜롬비아 빙하 유람선 관광</strong>
                                <p>콜롬비아 빙하는 미국에서 가장큰 빙하로서 프린스 윌리암 사운드만에 위치하고 있으며,발데즈항에서 빙하유람선이 오전10시30분에 출발하여 왕복6시간 정도 관광을 합니다.항해중에 프린스 윌리암 사운드에 고래,물개,흰머리 독수리,기타 많은 동식물들을 감상 할수가 있으며,선상에서 제공하는 점심은 조개죽,빵 그리고 음료를 제공해 줍니다.</p>
                            </div>
                        </div>
                        <div class="youtube_box">
                            <a class="youtube_link" href="https://youtu.be/TLblUQJ6bsY" target="_blank">
                            </a>     
                            <div class="youtube_wrap">
                                <div class="youtube ypic2"></div>
                                <div class="play"></div>
                                <div class="time">3:45</div>
                            </div>
                            <div class="youtube_text">
                                <strong>환상의 알래스카 북극 오로라</strong>
                                <p>환상의 알래스카 북극 오로라의 신비로움을 감상하기 위해서는 페어뱅스에서 볼수 있습니다.</p>
                            </div>                        
                        </div>  
                        <div class="youtube_box">
                            <a class="youtube_link" href="https://youtu.be/cwLshV1ihUw" target="_blank"></a>
                            <div class="youtube_wrap">
                                <div class="youtube ypic3"></div>
                                <div class="play"></div>
                                <div class="time">0:49</div>
                            </div>
                            <div class="youtube_text" href="">
                                <strong>알래스카 캠핑카 투어</strong>
                                <p>29명의 6-70대 한국분들께서 자가운전으로 발데즈까지 와서 바닷가에 콜롬비아 빙하관광후 캠핑장에서 캠파이어와 함께 바베큐와 킹크랩으로 식사하면서 캠핑카별로 장기자랑을 하는 모습입니다. 너무나 즐거운 시간이었습니다.</p>
                            </div>   
                        </div>
                    </div>
                </article>
            </div>            
        </section>
        <section class="msec7">
            <div class="msec7_wrap">
                <div  class="mySlides3 fade">
                    <img src="./img/main/sec7_main1.jpg" style="width:100%">
                    <div class="slide3_box">
                        <div class="slide_line"></div>
                        <div class="slide_text">
                            <h2>찾았다 인생 관광지!</h2>
                            <p>한국인이 가장</p>
                            <p class="marginp">사랑하는 여행지 중 한 곳, 알래스카</p>
                            <p class="marginp mobilenone">가족, 연인 또는 누구와 함께라도 즐거울 여행지</p>
                            <p class="mobilenone">더 늦기 전에</p>
                            <p class="mobilenone">남들보다 빨리 알래스카에서의 휴가를 계획해보세요</p>
                            <a href="weather_trip" class="btn_more">자세히 보기</a>
                        </div>
                    </div>   
                </div>
                <div class="mySlides3 fade">
                    <img src="./img/main/sec7_main2.jpg" style="width:100%">
                    <div class="slide3_box">
                        <div class="slide_line"></div>
                        <div class="slide_text">
                            <h2>찾았다 인생 관광지!</h2>
                            <p>한국인이 가장</p>
                            <p class="marginp">사랑하는 여행지 중 한 곳, 알래스카</p>
                            <p class="marginp mobilenone">가족, 연인 또는 누구와 함께라도 즐거울 여행지</p>
                            <p class="mobilenone">더 늦기 전에</p>
                            <p class="mobilenone">남들보다 빨리 알래스카에서의 휴가를 계획해보세요</p>
                            <a href="weather_trip" class="btn_more">자세히 보기</a>
                        </div>
                    </div>    
                </div>
                <div  class="mySlides3 fade">
                    <img src="./img/main/sec7_main3.jpg" style="width:100%">
                    <div class="slide3_box">
                        <div class="slide_line"></div>
                        <div class="slide_text">
                            <h2>찾았다 인생 관광지!</h2>
                            <p>한국인이 가장</p>
                            <p class="marginp">사랑하는 여행지 중 한 곳, 알래스카</p>
                            <p class="marginp mobilenone">가족, 연인 또는 누구와 함께라도 즐거울 여행지</p>
                            <p class="mobilenone">더 늦기 전에</p>
                            <p class="mobilenone">남들보다 빨리 알래스카에서의 휴가를 계획해보세요</p>
                            <a href="weather_trip" class="btn_more">자세히 보기</a>
                        </div>
                    </div>   
                </div>
            </div>
        </section>
        <section class="nopb">
            <div class="w1200 sub_title2">
                <h2>환율정보 및 날씨</h2>
            </div>
            <div class="white-box w1200">
                <div class="currency_wrap">
                    <div class="currency-box">
                        <div class="dropdown">
                            <button class="dropbtn" id="from-button"><img class="flag-img"
                                    src="https://cdn.countryflags.com/thumbs/south-korea/flag-400.png" />KRW</button>
                            <ul class="dropdown-content" id="from-currency-list">
                                <li id="KRW"><img class="flag-img"
                                        src="	https://cdn.countryflags.com/thumbs/south-korea/flag-400.png" />KRW</li>
                                <li id="USD"><img class="flag-img" src="https://cdn-icons-png.flaticon.com/512/555/555526.png" />USD</li>
                            </ul>
                        </div>
                        <div class="input-box">
                            <input type="text" class="amount-box" id="fromAmount" onkeyup="convert('from')" placeholder="금액을 입력하세요" />
                            <div id="fromNumToKorea" class="korean-num">원</div>
                        </div>                
                    </div>
                    <div class="same-icon">
                        ⇌
                    </div>
                    <div class="currency-box">
                        <div class="dropdown">
                            <button class="dropbtn" id="to-button"><img class="flag-img"
                                    src="https://cdn-icons-png.flaticon.com/512/555/555526.png" />USD</button>
                            <ul class="dropdown-content" id="to-currency-list">
                                <li id="KRW"><img class="flag-img"
                                        src="	https://cdn.countryflags.com/thumbs/south-korea/flag-400.png" />KRW</li>
                                <li id="USD"><img class="flag-img" src="https://cdn-icons-png.flaticon.com/512/555/555526.png" />USD</li>
                            </ul>
                        </div>
                        <div class="input-box">
                            <input type="text" class="amount-box" id="toAmount" onkeyup="convert('to')" placeholder="금액을 입력하세요" />
                            <div id="toNumToKorea" class="korean-num">달러</div>
                        </div>
                    </div>
                </div>                
                <div class="weather">
                    <div class="l_box">
                        <div class="CurrIcon"></div>
                    </div>       
                    <div class="r_box">
                        <div class="CurrTemp"></div>
                        <div class="city"></div>
                    </div>            
                </div>        
            </div>
        </section>
        <div id="pop">
            <div class="popup">
               <div class="p_top">
                   <p>알래스카 한인관광</p>
               </div>
               <div class="p_mid">
                    <h1 class="non"><span style="font-family: 'Do Hyeon'!important;">"오로라와 온천을</span></h1>
                    <h1><span style="font-family: 'Do Hyeon'!important;">동시에 즐겨보세요"</span></h1>       
               </div> 
               <a href="weather_trip" class="p_bot">
                  <p>더 많은 상품보기 ></p>
               </a>                               
            </div>                       
            <div class="p_close_wrap">
                <button id="p_close">X</button>
            </div>           
        </div>
        <div id="popup2_wrap" class="popup_wrap">
            <img src="../img\main\popup2.jpg" alt="배너팝업" usemap="#popup2">
            <map name="popup2" id="popup2">
                <area alt="바로가기" href="partner_trip" coords="125,304,266,343" shape="rect" target="_blank">
                <area alt="오늘 그만 보기" href="javascript:;" onclick="todaycloseWin();"  coords="8,355,200,393" shape="rect" id="t_btn">
                <area alt="닫기" href="javascript:;" onclick="closeWin();" coords="201,355,393,393" shape="rect" class="x_btn">
            </map>
        </div>
        <a href="#" class="top">
            <img src="../img\logo\b_top.png">
        </a>

        