
.login_wrap{
    width: 600px;
    padding: 70px 20px;
    box-sizing: border-box;
    margin: auto;
}
.login_wrap>a{
    text-align: right;
    color: #072f49;
    width: 25px;
    height: 25px;
}
.login_title{
    text-align: center;
    margin-bottom: 20px;
}
.login_title>h1{
    font-size: 40px;
    color: #000;
    font-weight: 900;
    margin-bottom: 10px;
}
.login_title>strong{
    font-size: 16px;
    color: #072f49;
    font-weight: bold;
}
.wsf-field{
    align-items: center;
    margin-bottom: 18px;
}
.wsf-input-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    padding: 12px 18px;
    font-size: 18px;
    flex-grow: 1;
    line-height: 1.5;
}
.wsf-input-error{
    display: none;
    color: #ff0e00;
    font-size: 14px;
    margin-top: 6px;
}
.wsf-field button{
    font-size: 18px;
    width: 100%;
    height: 100%;
    background-color: #072f49;
    color: #edbd03;
    border-color: #072f49;
    font-weight: 900;
    border-radius: 6px;
    padding: 12px 18px;
    line-height: 1.5;
    cursor: pointer;
    margin-top: 20px;
}
.login_utill_wrap{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top:20px ;
}
.login_utill_wrap>li{
    width: 33.3333333%;
    border-right: 1px black solid;
    text-align: center;
}
.login_utill_wrap>li:last-child{
    border: none;
}
.login_utill_wrap a{
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 18px;
    color: #000;
    font-weight: 700;
}




@media only screen and (max-width: 720px) {
    .blue_wrap{
        display: block;
    }
    .login_title>h1{
        font-size: 40px;
    }
    .login_title>strong{
        font-size: 20px;
    }    
    .wsf-input-text{
        font-size: 16px;
    }
    .wsf-field button{
        font-size: 16px;
    }
    .login_utill_wrap{
        width: 100%;
    }
    .login_utill_wrap a{
        font-size: 14px;
    }
    
}
@media only screen and (max-width: 640px) {
    .login_wrap{
        width: 100%;        
        padding: 50px 0px;
    }
    .login_utill_wrap a{
        padding: 5px 0;
    }
    
}